<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
     <setting name="multipleResultSetsEnabled" value="true"/>
	<setting name="useColumnLabel" value="true"/>
	<setting name="useGeneratedKeys" value="false"/>
	<setting name="defaultExecutorType" value="SIMPLE"/>
	<setting name="defaultStatementTimeout" value="25000"/>
</settings>

<typeAliases>
  <typeAlias type="java.sql.Timestamp" alias="Timestamp"/>
</typeAliases>



<plugins>
	<plugin interceptor="com.smartken.kia.core.plugin.mybatis.OffsetLimitInterceptor">
		<property name="dialectClass" value="com.smartken.kia.core.jdbc.dialect.OracleDialect"/>
	</plugin>
</plugins>

  
<environments default="development">
<environment id="development">
<transactionManager type="MANAGED">
  <property name="closeConnection" value="false"/>
</transactionManager>
 <dataSource type="POOLED"></dataSource>
</environment>
</environments>
 
<mappers>
<mapper resource="com/ett/drv/mapper/booked/oracle/IWeekRecordMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/ILimitMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/IOrderInfoMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/IPersonChangeMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/ICarOwnerChangeMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/IBookedDayLimitMapper.xml"/>
<mapper resource="com/ett/drv/mapper/booked/oracle/ISchoolCarMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IDictTypeMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IDictMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IDepartmentMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IMenuMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IUserMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IRoleMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IBusAllInfoMapper.xml"/>
<mapper resource="com/ett/drv/mapper/admin/oracle/IBusLogMapper.xml"/>

<mapper resource="com/ett/drv/mapper/self/oracle/IDeviceMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/ITerminalMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/ITransactDriverMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/ITransactVehicleMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/ITransactResourceMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IDrivingLicenseMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IVehicleMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IVehFlowMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IDrvFlowMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IKm1CheckRecordMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IKm1PreasignRecordMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IFeeLogMapper.xml"/>

<mapper resource="com/ett/drv/mapper/self/oracle/IDeviceMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IDeviceSnMapper.xml"/>
<mapper resource="com/ett/drv/mapper/self/oracle/IHardwareMapper.xml"/>

<mapper resource="com/ett/drv/mapper/preinput/oracle/IStudentApplyInfoMapper.xml"/>

<mapper resource="com/ett/drv/mapper/statis/oracle/IStatisCoachCarMapper.xml"/>
<mapper resource="com/ett/drv/mapper/statis/oracle/IStatisDriverMapper.xml"/>
<mapper resource="com/ett/drv/mapper/statis/oracle/IStatisKmMapper.xml"/>
<mapper resource="com/ett/drv/mapper/statis/oracle/IStatisSchoolMapper.xml"/>


</mappers>

</configuration>