
body
{
	font-family: ו, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	font-style: normal;
	font-variant: normal;
	white-space: normal;
}

a{
	color: #333333;

}



a:HOVER{
	color: #333360;
	text-decoration: underline;
	cursor: pointer;
}

legend{
   color: blue;
   font-weight: bolder;
}

.b
{
	border: 1px solid #C0C0C0;
}




iframe
{
	height: 100%;
	width:100%;
	
	border: 1px solid #C0C0C0;
}

.innerFrame
{
	height: 100%;
	width:100%;
	overflow:scroll;
	border-width: 0px;
	
}

.innerDiv
{
 height : 100%;
	width:100%;
}

.editTable
{
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #66CCFF;
	width: auto;
	background-color: #EDF4FE;
	table-layout: auto;
}

.editTable td
{
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #66CCFF;
	text-align: left;
	padding:10px;
	vertical-align: top;
}

.editTable th
{
	text-align: right;
	vertical-align: top;
	font-weight: bolder;
	color: #0033CC;
	font-size: 0.9em;

	padding:10px;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #66CCFF;
}



.ulThum{
   list-style-type: none;
}

.ulThum li{
   float: left;
   text-align: center;
   margin-right: 35px;
}

.ulThum img{
   height: 50px;
}


