<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	     http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/jdbc 
         http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		"  >


   <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
        <property name="locations"> 
          <list> 
            <value>WEB-INF/system.properties</value> 
            </list> 
         </property> 
   </bean>
   
   <!--
   <bean id="baseFpClient" class="com.smartken.kia.util.trustlink.FpClient" abstract="true">
      <property name="hostName" value="${fp.hostName}"></property>
      <property name="authenID" value="${fp.authenID}"></property>
      <property name="authenPwd" value="${fp.authenPwd}"></property>
      <property name="deviceType" value="${fp.deviceType}"></property>
      <property name="ocxClassName" value="${fp.ocxClassName}"></property>
      <property name="ocxEnrollClassID" value="${fp.ocxEnrollClassID}"></property>
      <property name="ocxVerifyClassID" value="${fp.ocxVerifyClassID}"></property>
      <property name="port" value="${fp.port}"></property>
      <property name="productID" value="${fp.productID}"></property>
   </bean>
    
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="autoCommitOnClose" value="true"/>
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}"/>
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>
		<property name="minPoolSize" value="${cpool.minPoolSize}"/>
		<property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
		<property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
		<property name="acquireIncrement" value="${cpool.acquireIncrement}"/>
		<property name="maxIdleTimeExcessConnections" value="${cpool.maxIdleTimeExcessConnections}"/>
	</bean>
-->	 
   
  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
   <property name="jndiName" value="${jndi.oradrvde}"></property>
 
 </bean>    
 
   <bean id="dataSourceDrv" class="org.springframework.jndi.JndiObjectFactoryBean">
   <property name="jndiName" value="${jndi.oradrvde2}"></property>
 </bean>    
 
 
   
<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory" >
       <property name="dataSource" ref="dataSource"></property>
       <property name="configLocation" value="classpath:com/ett/visual/mapper/mybatis3.visual.${db.type}.xml"></property>
       
</bean>

<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryDrv">
       <property name="dataSource" ref="dataSourceDrv"></property>
       <property name="configLocation" value="classpath:com/ett/visual/mapper/mybatis3.visual.${db.type}.xml"></property>
       
</bean>


 

  
 
	<bean id="txDrvManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
		<property name="defaultTimeout" value="30000"></property>
	</bean>
	

	<tx:advice id="txDrvAdvice" transaction-manager="txDrvManager" >
	
		<tx:attributes>
			<tx:method name="tran*" propagation="REQUIRED"/>			
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(* com.ett.drv.biz.impl.*.*(..))" id="drvMehtod"/>
		<aop:advisor advice-ref="txDrvAdvice" pointcut-ref="drvMehtod" />
		
	</aop:config>



 <bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" >
     <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>
 
 <bean id="baseDrvMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" >
     <property name="sqlSessionFactory" ref="sqlSessionFactoryDrv" />
   </bean>
   
   
   <bean id="menuMapper" parent="baseMapper">
  <property name="mapperInterface" value="com.ett.visual.mapper.admin.IMenuMapper"></property>
</bean>
	<bean id="userMapper" parent="baseMapper">
	<property name="mapperInterface" value="com.ett.visual.mapper.admin.IUserMapper"></property>
	</bean>
	<bean id="roleMapper" parent="baseMapper">
	<property name="mapperInterface" value="com.ett.visual.mapper.admin.IRoleMapper"></property>
	</bean>
  <bean id="baseVisualBiz" abstract="true" class="com.ett.visual.biz.BaseVisualBiz">
       <property name="menuMapper" ref="menuMapper"></property>
       <property name="userMapper" ref="userMapper"></property>
       <property name="roleMapper" ref="roleMapper"></property>
 </bean>
 
 <bean id="baseAdminBiz" abstract="true" class="com.ett.visual.biz.impl.AdminBiz" parent="baseVisualBiz"></bean>
 <bean id="baseDriverBiz" abstract="true" class="com.ett.visual.biz.impl.DriverBiz" parent="baseVisualBiz"></bean>
 <bean id="baseVehicleBiz" abstract="true" class="com.ett.visual.biz.impl.VehicleBiz" parent="baseVisualBiz"></bean>

<!--  
<bean class="com.ett.drvinterface.DrvServiceHelper"  id="drvServiceHelper">
    <property name="url" value="${wsdl.drv.url}"></property>
    <property name="timeout" value="${wsdl.timeout}"></property>
</bean>

<bean class="com.ett.drvinterface.VehicleServiceHelper" id="vehicleServiceHelper">
    <property name="url" value="${wsdl.veh.url}"></property>
    <property name="timeout" value="${wsdl.timeout}"></property>
</bean>

<bean class="com.ett.drvinterface.VioServiceHelper"  id="vioServiceHelper" >
   <property name="url" value="${wsdl.vio.url}" ></property>
   <property name="timeout" value="${wsdl.timeout}" ></property>
</bean>


    
    <property name="drvInterface"  ref="drvServiceHelper"></property>
    <property name="vehicleInterface" ref="vehicleServiceHelper"></property>
    
    <property name="vioInterface" ref="vioServiceHelper"></property>
    
   <property name="cachePath" value="${cachePath}"></property>
   <property name="cacheModels">
     <list>
       <value>com.ett.drv.model.admin.DictModel</value>
       <value>com.ett.drv.model.admin.DictTypeModel</value>
     </list>
   </property>
    
</bean>


</bean>
-->

</beans>