<?xml version="1.0" encoding="gbk" ?>
<!--
	Create Date:2011-05-26 11:06:52
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.admin.BusAllInfoModel 


 public static enum F { 
  Id,CLsh,CDabh,CXm,CIdcardtype,CIdcard,CSex,CBirthday,CNation,CCarType,IState,
COperator,Checkdate,Regdate,CRegareaCode,CRegarea,CPostcode,CPhone,CHeight,CZsl,CYsl,
CBsl,CTl,CSz,CZxz,CYxz,CQgjb,CHospital,IPrintAdd,IPrintReturn,IsPrintAdd,
IsPrintReturn  
 } 

private Integer Id;         //ID  NUMBER 38
private String CLsh;         //C_LSH  VARCHAR2 30
private String CDabh;         //C_DABH  VARCHAR2 30
private String CXm;         //C_XM  VARCHAR2 30
private String CIdcardtype;         //C_IDCARDTYPE  VARCHAR2 30
private String CIdcard;         //C_IDCARD  VARCHAR2 30
private String CSex;         //C_SEX  VARCHAR2 8
private String CBirthday;         //C_BIRTHDAY  VARCHAR2 30
private String CNation;         //C_NATION  VARCHAR2 30
private String CCarType;         //C_CAR_TYPE  VARCHAR2 8
private Integer IState;         //I_STATE  NUMBER 38
private String COperator;         //C_OPERATOR  VARCHAR2 30
private String Checkdate;         //CHECKDATE  VARCHAR2 30
private Date Regdate;         //REGDATE  DATE 0
private String CRegareaCode;         //C_REGAREA_CODE  VARCHAR2 30
private String CRegarea;         //C_REGAREA  VARCHAR2 100
private String CPostcode;         //C_POSTCODE  VARCHAR2 20
private String CPhone;         //C_PHONE  VARCHAR2 20
private String CHeight;         //C_HEIGHT  VARCHAR2 8
private String CZsl;         //C_ZSL  VARCHAR2 8
private String CYsl;         //C_YSL  VARCHAR2 8
private String CBsl;         //C_BSL  VARCHAR2 8
private String CTl;         //C_TL  VARCHAR2 8
private String CSz;         //C_SZ  VARCHAR2 8
private String CZxz;         //C_ZXZ  VARCHAR2 8
private String CYxz;         //C_YXZ  VARCHAR2 8
private String CQgjb;         //C_QGJB  VARCHAR2 8
private String CHospital;         //C_HOSPITAL  VARCHAR2 200
private Integer IPrintAdd;         //I_PRINT_ADD  NUMBER 38
private Integer IPrintReturn;         //I_PRINT_RETURN  NUMBER 38
private Integer IsPrintAdd;         //IS_PRINT_ADD  NUMBER 38
private Integer IsPrintReturn;         //IS_PRINT_RETURN  NUMBER 38
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.admin.IBusAllInfoMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_BUS_ALL_INFO</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,C_LSH,C_DABH,C_XM,C_IDCARDTYPE,C_IDCARD,C_SEX,C_BIRTHDAY,C_NATION,C_CAR_TYPE,I_STATE,
C_OPERATOR,CHECKDATE,REGDATE,C_REGAREA_CODE,C_REGAREA,C_POSTCODE,C_PHONE,C_HEIGHT,C_ZSL,C_YSL,
C_BSL,C_TL,C_SZ,C_ZXZ,C_YXZ,C_QGJB,C_HOSPITAL,I_PRINT_ADD,I_PRINT_RETURN,IS_PRINT_ADD,
IS_PRINT_RETURN 
</sql>

<sql id="insertCols">
seq_bus_all_info.nextval,
#{CLsh,jdbcType=VARCHAR,javaType=String},
#{CDabh,jdbcType=VARCHAR,javaType=String},
#{CXm,jdbcType=VARCHAR,javaType=String},
#{CIdcardtype,jdbcType=VARCHAR,javaType=String},
#{CIdcard,jdbcType=VARCHAR,javaType=String},
#{CSex,jdbcType=VARCHAR,javaType=String},
#{CBirthday,jdbcType=VARCHAR,javaType=String},
#{CNation,jdbcType=VARCHAR,javaType=String},
#{CCarType,jdbcType=VARCHAR,javaType=String},
#{IState,jdbcType=INTEGER,javaType=Integer},
#{COperator,jdbcType=VARCHAR,javaType=String},
#{Checkdate,jdbcType=VARCHAR,javaType=String},
#{Regdate,jdbcType=DATE,javaType=Date},
#{CRegareaCode,jdbcType=VARCHAR,javaType=String},
#{CRegarea,jdbcType=VARCHAR,javaType=String},
#{CPostcode,jdbcType=VARCHAR,javaType=String},
#{CPhone,jdbcType=VARCHAR,javaType=String},
#{CHeight,jdbcType=VARCHAR,javaType=String},
#{CZsl,jdbcType=VARCHAR,javaType=String},
#{CYsl,jdbcType=VARCHAR,javaType=String},
#{CBsl,jdbcType=VARCHAR,javaType=String},
#{CTl,jdbcType=VARCHAR,javaType=String},
#{CSz,jdbcType=VARCHAR,javaType=String},
#{CZxz,jdbcType=VARCHAR,javaType=String},
#{CYxz,jdbcType=VARCHAR,javaType=String},
#{CQgjb,jdbcType=VARCHAR,javaType=String},
#{CHospital,jdbcType=VARCHAR,javaType=String},
#{IPrintAdd,jdbcType=INTEGER,javaType=Integer},
#{IPrintReturn,jdbcType=INTEGER,javaType=Integer},
#{IsPrintAdd,jdbcType=INTEGER,javaType=Integer},
#{IsPrintReturn,jdbcType=INTEGER,javaType=Integer},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk},</if>
C_LSH=#{model.CLsh,jdbcType=VARCHAR,javaType=String},
C_DABH=#{model.CDabh,jdbcType=VARCHAR,javaType=String},
C_XM=#{model.CXm,jdbcType=VARCHAR,javaType=String},
C_IDCARDTYPE=#{model.CIdcardtype,jdbcType=VARCHAR,javaType=String},
C_IDCARD=#{model.CIdcard,jdbcType=VARCHAR,javaType=String},
C_SEX=#{model.CSex,jdbcType=VARCHAR,javaType=String},
C_BIRTHDAY=#{model.CBirthday,jdbcType=VARCHAR,javaType=String},
C_NATION=#{model.CNation,jdbcType=VARCHAR,javaType=String},
C_CAR_TYPE=#{model.CCarType,jdbcType=VARCHAR,javaType=String},
I_STATE=#{model.IState,jdbcType=INTEGER,javaType=Integer},
C_OPERATOR=#{model.COperator,jdbcType=VARCHAR,javaType=String},
CHECKDATE=#{model.Checkdate,jdbcType=VARCHAR,javaType=String},
REGDATE=#{model.Regdate,jdbcType=DATE,javaType=Date},
C_REGAREA_CODE=#{model.CRegareaCode,jdbcType=VARCHAR,javaType=String},
C_REGAREA=#{model.CRegarea,jdbcType=VARCHAR,javaType=String},
C_POSTCODE=#{model.CPostcode,jdbcType=VARCHAR,javaType=String},
C_PHONE=#{model.CPhone,jdbcType=VARCHAR,javaType=String},
C_HEIGHT=#{model.CHeight,jdbcType=VARCHAR,javaType=String},
C_ZSL=#{model.CZsl,jdbcType=VARCHAR,javaType=String},
C_YSL=#{model.CYsl,jdbcType=VARCHAR,javaType=String},
C_BSL=#{model.CBsl,jdbcType=VARCHAR,javaType=String},
C_TL=#{model.CTl,jdbcType=VARCHAR,javaType=String},
C_SZ=#{model.CSz,jdbcType=VARCHAR,javaType=String},
C_ZXZ=#{model.CZxz,jdbcType=VARCHAR,javaType=String},
C_YXZ=#{model.CYxz,jdbcType=VARCHAR,javaType=String},
C_QGJB=#{model.CQgjb,jdbcType=VARCHAR,javaType=String},
C_HOSPITAL=#{model.CHospital,jdbcType=VARCHAR,javaType=String},
I_PRINT_ADD=#{model.IPrintAdd,jdbcType=INTEGER,javaType=Integer},
I_PRINT_RETURN=#{model.IPrintReturn,jdbcType=INTEGER,javaType=Integer},
IS_PRINT_ADD=#{model.IsPrintAdd,jdbcType=INTEGER,javaType=Integer},
IS_PRINT_RETURN=#{model.IsPrintReturn,jdbcType=INTEGER,javaType=Integer},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums">
	,d1.c_dict_text as ZJLX
	,d2.c_dict_text as GJ
	,d3.c_dict_text as DZDM
	,d4.c_dict_text as TJYY 
</sql>

<sql id="join">
left join table_dicts d1 on d1.c_typename='证件类型' and m.c_idcardtype=d1.c_dict_value
left join table_dicts d2 on d2.c_typename='国籍'     and m.c_nation=d2.c_dict_value
left join table_dicts d3 on d3.c_typename='联系住所' and m.c_regarea_code=d3.c_dict_value
left join table_dicts d4 on d4.c_typename='体检医院' and m.c_hospital=d4.c_dict_value

</sql><!-- 别名m已被主表使用  -->
<resultMap type="com.ett.drv.view.HospitalGroupView" id="resultMapview">
	<result column="hospital"  property="Hospital" jdbcType="VARCHAR" javaType="String"/>
	<result column="sum1"  property="Sum1" jdbcType="INTEGER" javaType="Integer"/>
	<result column="sum2"  property="Sum2" jdbcType="INTEGER" javaType="Integer"/>
	<result column="sum3"  property="Sum3" jdbcType="INTEGER" javaType="Integer"/>
	<result column="sum4"  property="Sum4" jdbcType="INTEGER" javaType="Integer"/>
</resultMap>


<resultMap type="com.ett.drv.model.admin.BusAllInfoModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_LSH"  property="CLsh" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DABH"  property="CDabh" jdbcType="VARCHAR" javaType="String"/>
<result column="C_XM"  property="CXm" jdbcType="VARCHAR" javaType="String"/>
<result column="C_IDCARDTYPE"  property="CIdcardtype" jdbcType="VARCHAR" javaType="String"/>
<result column="C_IDCARD"  property="CIdcard" jdbcType="VARCHAR" javaType="String"/>
<result column="C_SEX"  property="CSex" jdbcType="VARCHAR" javaType="String"/>
<result column="C_BIRTHDAY"  property="CBirthday" jdbcType="VARCHAR" javaType="String"/>
<result column="C_NATION"  property="CNation" jdbcType="VARCHAR" javaType="String"/>
<result column="C_CAR_TYPE"  property="CCarType" jdbcType="VARCHAR" javaType="String"/>
<result column="I_STATE"  property="IState" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_OPERATOR"  property="COperator" jdbcType="VARCHAR" javaType="String"/>
<result column="CHECKDATE"  property="Checkdate" jdbcType="VARCHAR" javaType="String"/>
<result column="REGDATE"  property="Regdate" jdbcType="DATE" javaType="Date"/>
<result column="C_REGAREA_CODE"  property="CRegareaCode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_REGAREA"  property="CRegarea" jdbcType="VARCHAR" javaType="String"/>
<result column="C_POSTCODE"  property="CPostcode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_PHONE"  property="CPhone" jdbcType="VARCHAR" javaType="String"/>
<result column="C_HEIGHT"  property="CHeight" jdbcType="VARCHAR" javaType="String"/>
<result column="C_ZSL"  property="CZsl" jdbcType="VARCHAR" javaType="String"/>
<result column="C_YSL"  property="CYsl" jdbcType="VARCHAR" javaType="String"/>
<result column="C_BSL"  property="CBsl" jdbcType="VARCHAR" javaType="String"/>
<result column="C_TL"  property="CTl" jdbcType="VARCHAR" javaType="String"/>
<result column="C_SZ"  property="CSz" jdbcType="VARCHAR" javaType="String"/>
<result column="C_ZXZ"  property="CZxz" jdbcType="VARCHAR" javaType="String"/>
<result column="C_YXZ"  property="CYxz" jdbcType="VARCHAR" javaType="String"/>
<result column="C_QGJB"  property="CQgjb" jdbcType="VARCHAR" javaType="String"/>
<result column="C_HOSPITAL"  property="CHospital" jdbcType="VARCHAR" javaType="String"/>
<result column="I_PRINT_ADD"  property="IPrintAdd" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_PRINT_RETURN"  property="IPrintReturn" jdbcType="INTEGER" javaType="Integer"/>
<result column="IS_PRINT_ADD"  property="IsPrintAdd" jdbcType="INTEGER" javaType="Integer"/>
<result column="IS_PRINT_RETURN"  property="IsPrintReturn" jdbcType="INTEGER" javaType="Integer"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CLsh neq null">and m.C_LSH like #{model.CLsh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDabh neq null">and m.C_DABH like #{model.CDabh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CXm neq null">and m.C_XM like #{model.CXm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CIdcardtype neq null">and m.C_IDCARDTYPE like #{model.CIdcardtype,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CIdcard neq null">and m.C_IDCARD like #{model.CIdcard,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CSex neq null">and m.C_SEX like #{model.CSex,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CBirthday neq null">and m.C_BIRTHDAY like #{model.CBirthday,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CNation neq null">and m.C_NATION like #{model.CNation,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CCarType neq null">and m.C_CAR_TYPE like #{model.CCarType,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IState neq null">and m.I_STATE = #{model.IState,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.COperator neq null">and m.C_OPERATOR like #{model.COperator,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Checkdate neq null">and m.CHECKDATE like #{model.Checkdate,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Regdate neq null">and to_char(m.REGDATE,'YYYY-MM-DD') = to_char(#{model.Regdate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.CRegareaCode neq null">and m.C_REGAREA_CODE like #{model.CRegareaCode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CRegarea neq null">and m.C_REGAREA like #{model.CRegarea,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CPostcode neq null">and m.C_POSTCODE like #{model.CPostcode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CPhone neq null">and m.C_PHONE like #{model.CPhone,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CHeight neq null">and m.C_HEIGHT like #{model.CHeight,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CZsl neq null">and m.C_ZSL like #{model.CZsl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CYsl neq null">and m.C_YSL like #{model.CYsl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CBsl neq null">and m.C_BSL like #{model.CBsl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CTl neq null">and m.C_TL like #{model.CTl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CSz neq null">and m.C_SZ like #{model.CSz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CZxz neq null">and m.C_ZXZ like #{model.CZxz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CYxz neq null">and m.C_YXZ like #{model.CYxz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CQgjb neq null">and m.C_QGJB like #{model.CQgjb,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CHospital neq null">and m.C_HOSPITAL like #{model.CHospital,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IPrintAdd neq null">and m.I_PRINT_ADD = #{model.IPrintAdd,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IPrintReturn neq null">and m.I_PRINT_RETURN = #{model.IPrintReturn,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IsPrintAdd neq null">and m.IS_PRINT_ADD = #{model.IsPrintAdd,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IsPrintReturn neq null">and m.IS_PRINT_RETURN = #{model.IsPrintReturn,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.endDate neq null and model.beginDate neq null">and to_char(m.REGDATE,'YYYY-MM-DD') between to_char(#{model.beginDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') and to_char(#{model.endDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD')</if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>
<select id="selectGroupByHospital" resultType="ArrayList" resultMap="resultMapview">
	select C_HOSPITAL as hospital
	       ,sum(decode(i_state,0,1,0)) as sum1
	       ,sum(decode(i_state,1,1,0)) as sum2
	       ,0 as sum3
	       ,sum(decode(i_state,2,1,0)) as sum4 
	from <include refid="table" /> 
	where REGDATE between #{startDate,jdbcType=DATE javaType=Date } and #{endDates,jdbcType=DATE javaType=Date}
	group by C_HOSPITAL 
</select>

<select id="selectGroupByOperaction" resultType="ArrayList" resultMap="resultMapview">
	select C_OPERATOR as hospital
	       ,sum(decode(i_state,0,1,0)) as sum1
	       ,sum(decode(i_state,1,1,0)) as sum2
	       ,0 as sum3
	       ,sum(decode(i_state,2,1,0)) as sum4 
	from <include refid="table" /> 
	where REGDATE between #{startDate,jdbcType=DATE javaType=Date } and #{endDates,jdbcType=DATE javaType=Date}
	group by C_OPERATOR 
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>
<select id=""></select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.admin.BusAllInfoModel" id="viewMap" extends="resultMap" >
<result column="TJYY"  property="tjyy" jdbcType="VARCHAR" javaType="String"/>
<result column="DZDM"  property="dzdm" jdbcType="VARCHAR" javaType="String"/>
<result column="GJ"  property="gj" jdbcType="VARCHAR" javaType="String"/>
<result column="ZJLX"  property="zjlx" jdbcType="VARCHAR" javaType="String"/>

</resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql>


<select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>