<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-26 11:06:52
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.admin.BusLogModel 


 public static enum F { 
  Id,COperator,CBustype,Regdate,CContent,CDes1,CDes2,CDes3,IDepid  
 } 

private Integer Id;         //ID  NUMBER 38
private String COperator;         //C_OPERATOR  VARCHAR2 30
private String CBustype;         //C_BUSTYPE  VARCHAR2 60
private Date Regdate;         //REGDATE  DATE 0
private String CContent;         //C_CONTENT  VARCHAR2 500
private String CDes1;         //C_DES1  VARCHAR2 60
private String CDes2;         //C_DES2  VARCHAR2 60
private String CDes3;         //C_DES3  VARCHAR2 60
private Integer IDepid;         //I_DEPID  NUMBER 38
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.admin.IBusLogMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_BUSLOGS</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,C_OPERATOR,C_BUSTYPE,REGDATE,C_CONTENT,C_DES1,C_DES2,C_DES3,I_DEPID 
</sql>

<sql id="insertCols">
seq_buslog.nextval,
#{COperator,jdbcType=VARCHAR,javaType=String},
#{CBustype,jdbcType=VARCHAR,javaType=String},
#{Regdate,jdbcType=DATE,javaType=Date},
#{CContent,jdbcType=VARCHAR,javaType=String},
#{CDes1,jdbcType=VARCHAR,javaType=String},
#{CDes2,jdbcType=VARCHAR,javaType=String},
#{CDes3,jdbcType=VARCHAR,javaType=String},
#{IDepid,jdbcType=INTEGER,javaType=Integer},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk},</if>
C_OPERATOR=#{model.COperator,jdbcType=VARCHAR,javaType=String},
C_BUSTYPE=#{model.CBustype,jdbcType=VARCHAR,javaType=String},
REGDATE=#{model.Regdate,jdbcType=DATE,javaType=Date},
C_CONTENT=#{model.CContent,jdbcType=VARCHAR,javaType=String},
C_DES1=#{model.CDes1,jdbcType=VARCHAR,javaType=String},
C_DES2=#{model.CDes2,jdbcType=VARCHAR,javaType=String},
C_DES3=#{model.CDes3,jdbcType=VARCHAR,javaType=String},
I_DEPID=#{model.IDepid,jdbcType=INTEGER,javaType=Integer},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.admin.BusLogModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_OPERATOR"  property="COperator" jdbcType="VARCHAR" javaType="String"/>
<result column="C_BUSTYPE"  property="CBustype" jdbcType="VARCHAR" javaType="String"/>
<result column="REGDATE"  property="Regdate" jdbcType="DATE" javaType="Date"/>
<result column="C_CONTENT"  property="CContent" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DES1"  property="CDes1" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DES2"  property="CDes2" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DES3"  property="CDes3" jdbcType="VARCHAR" javaType="String"/>
<result column="I_DEPID"  property="IDepid" jdbcType="INTEGER" javaType="Integer"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.COperator neq null">and m.C_OPERATOR like #{model.COperator,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CBustype neq null">and m.C_BUSTYPE like #{model.CBustype,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Regdate neq null">and to_char(m.REGDATE,'YYYY-MM-DD') = to_char(#{model.Regdate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.CContent neq null">and m.C_CONTENT like #{model.CContent,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDes1 neq null">and m.C_DES1 like #{model.CDes1,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDes2 neq null">and m.C_DES2 like #{model.CDes2,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDes3 neq null">and m.C_DES3 like #{model.CDes3,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IDepid neq null">and m.I_DEPID = #{model.IDepid,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.qStartRegDate neq null and model.qEndRegDate neq null">
  and (m.REGDATE between #{model.qStartRegDate,jdbcType=DATE javaType=Date }  and  #{model.qEndRegDate,jdbcType=DATE javaType=Date } ) </if> 
</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.admin.BusLogModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>