<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-25 10:26:46
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.admin.DepartmentModel 


 public static enum F { 
  Id,CConnector,CMobile,CPhone,CCompanycode,CDepfullname,CDepnickname,CDepcode,CParentcode,CDeptype  
 } 

private Integer Id;         //ID  NUMBER 38
private String CConnector;         //C_CONNECTOR  VARCHAR2 20
private String CMobile;         //C_MOBILE  VARCHAR2 11
private String CPhone;         //C_PHONE  VARCHAR2 11
private String CCompanycode;         //C_COMPANYCODE  VARCHAR2 20
private String CDepfullname;         //C_DEPFULLNAME  VARCHAR2 100
private String CDepnickname;         //C_DEPNICKNAME  VARCHAR2 20
private String CDepcode;         //C_DEPCODE  VARCHAR2 30
private String CParentcode;         //C_PARENTCODE  VARCHAR2 30
private String CDeptype;         //C_DEPTYPE  VARCHAR2 30
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.admin.IDepartmentMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_DEPARTMENTS</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,C_CONNECTOR,C_MOBILE,C_PHONE,C_COMPANYCODE,C_DEPFULLNAME,C_DEPNICKNAME,C_DEPCODE,C_PARENTCODE,C_DEPTYPE 
</sql>

<sql id="insertCols">
#{Id,jdbcType=INTEGER,javaType=Integer},
#{CConnector,jdbcType=VARCHAR,javaType=String},
#{CMobile,jdbcType=VARCHAR,javaType=String},
#{CPhone,jdbcType=VARCHAR,javaType=String},
#{CCompanycode,jdbcType=VARCHAR,javaType=String},
#{CDepfullname,jdbcType=VARCHAR,javaType=String},
#{CDepnickname,jdbcType=VARCHAR,javaType=String},
#{CDepcode,jdbcType=VARCHAR,javaType=String},
#{CParentcode,jdbcType=VARCHAR,javaType=String},
#{CDeptype,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk}</if>,
C_CONNECTOR=#{model.CConnector,jdbcType=VARCHAR,javaType=String},
C_MOBILE=#{model.CMobile,jdbcType=VARCHAR,javaType=String},
C_PHONE=#{model.CPhone,jdbcType=VARCHAR,javaType=String},
C_COMPANYCODE=#{model.CCompanycode,jdbcType=VARCHAR,javaType=String},
C_DEPFULLNAME=#{model.CDepfullname,jdbcType=VARCHAR,javaType=String},
C_DEPNICKNAME=#{model.CDepnickname,jdbcType=VARCHAR,javaType=String},
C_DEPCODE=#{model.CDepcode,jdbcType=VARCHAR,javaType=String},
C_PARENTCODE=#{model.CParentcode,jdbcType=VARCHAR,javaType=String},
C_DEPTYPE=#{model.CDeptype,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.admin.DepartmentModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_CONNECTOR"  property="CConnector" jdbcType="VARCHAR" javaType="String"/>
<result column="C_MOBILE"  property="CMobile" jdbcType="VARCHAR" javaType="String"/>
<result column="C_PHONE"  property="CPhone" jdbcType="VARCHAR" javaType="String"/>
<result column="C_COMPANYCODE"  property="CCompanycode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DEPFULLNAME"  property="CDepfullname" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DEPNICKNAME"  property="CDepnickname" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DEPCODE"  property="CDepcode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_PARENTCODE"  property="CParentcode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_DEPTYPE"  property="CDeptype" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CConnector neq null">and m.C_CONNECTOR like #{model.CConnector,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CMobile neq null">and m.C_MOBILE like #{model.CMobile,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CPhone neq null">and m.C_PHONE like #{model.CPhone,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CCompanycode neq null">and m.C_COMPANYCODE like #{model.CCompanycode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDepfullname neq null">and m.C_DEPFULLNAME like #{model.CDepfullname,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDepnickname neq null">and m.C_DEPNICKNAME like #{model.CDepnickname,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDepcode neq null">and m.C_DEPCODE like #{model.CDepcode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CParentcode neq null">and m.C_PARENTCODE like #{model.CParentcode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CDeptype neq null">and m.C_DEPTYPE like #{model.CDeptype,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.admin.DepartmentModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>