<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 class:com.ett.drv.model.admin.MenuModel 
 
 public static enum F { 
  id,name,descp,url,parma,parentId,ordernum,icon,token,folder  
 } 

private String id;         //ID  VARCHAR2 100
private String name;         //NAME  VARCHAR2 100
private String descp;         //DESCP  VARCHAR2 400
private String url;         //URL  VARCHAR2 400
private String parma;         //PARMA  VARCHAR2 400
private String parentId;         //PARENT_ID  VARCHAR2 20
private Integer ordernum;         //ORDERNUM  NUMBER 38
private String icon;         //ICON  VARCHAR2 50
private String token;         //TOKEN  CHAR 3
private String folder;         //FOLDER  CHAR 1
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.admin.IMenuMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">DRV_ADMIN_MENU</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,NAME,DESCP,URL,PARMA,PARENT_ID,ORDERNUM,ICON,TOKEN,FOLDER 
</sql>

<sql id="insertCols">
#{id,jdbcType=VARCHAR,javaType=String},
#{name,jdbcType=VARCHAR,javaType=String},
#{descp,jdbcType=VARCHAR,javaType=String},
#{url,jdbcType=VARCHAR,javaType=String},
#{parma,jdbcType=VARCHAR,javaType=String},
#{parentId,jdbcType=VARCHAR,javaType=String},
#{ordernum,jdbcType=INTEGER,javaType=Integer},
#{icon,jdbcType=VARCHAR,javaType=String},
#{token,jdbcType=VARCHAR,javaType=String},
#{folder,jdbcType=VARCHAR,javaType=String} 
</sql>

<sql id="updateCols">
 <if test="pk neq null">ID=#{pk},</if>
NAME=#{model.name,jdbcType=VARCHAR,javaType=String},
DESCP=#{model.descp,jdbcType=VARCHAR,javaType=String},
URL=#{model.url,jdbcType=VARCHAR,javaType=String},
PARMA=#{model.parma,jdbcType=VARCHAR,javaType=String},
PARENT_ID=#{model.parentId,jdbcType=VARCHAR,javaType=String},
ORDERNUM=#{model.ordernum,jdbcType=INTEGER,javaType=Integer},
ICON=#{model.icon,jdbcType=VARCHAR,javaType=String},
TOKEN=#{model.token,jdbcType=VARCHAR,javaType=String},
FOLDER=#{model.folder,jdbcType=VARCHAR,javaType=String}
</sql>

<sql id="orderby">order by ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.admin.MenuModel" id="resultMap">
 <id column="ID"  property="id" jdbcType="VARCHAR" javaType="String"/>
<result column="NAME"  property="name" jdbcType="VARCHAR" javaType="String"/>
<result column="DESCP"  property="descp" jdbcType="VARCHAR" javaType="String"/>
<result column="URL"  property="url" jdbcType="VARCHAR" javaType="String"/>
<result column="PARMA"  property="parma" jdbcType="VARCHAR" javaType="String"/>
<result column="PARENT_ID"  property="parentId" jdbcType="VARCHAR" javaType="String"/>
<result column="ORDERNUM"  property="ordernum" jdbcType="INTEGER" javaType="Integer"/>
<result column="ICON"  property="icon" jdbcType="VARCHAR" javaType="String"/>
<result column="TOKEN"  property="token" jdbcType="VARCHAR" javaType="String"/>
<result column="FOLDER"  property="folder" jdbcType="VARCHAR" javaType="String"/>
 </resultMap>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	 select m.* from <include refid="table" /> m 
<trim prefix="where" prefixOverrides="and">
<if test="model.id neq null">and m.ID=#{model.id,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.name neq null">and m.NAME=#{model.name,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.descp neq null">and m.DESCP=#{model.descp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.url neq null">and m.URL=#{model.url,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.parma neq null">and m.PARMA=#{model.parma,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.parentId neq null">and m.PARENT_ID=#{model.parentId,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ordernum neq null">and m.ORDERNUM=#{model.ordernum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.icon neq null">and m.ICON=#{model.icon,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.token neq null">and m.TOKEN=#{model.token,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.folder neq null">and m.FOLDER=#{model.folder,jdbcType=VARCHAR javaType=String } </if> 
</trim>
</select>
<select id="selectEqPk" parameterType="String"  resultMap="resultMap">
	 select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{id,jdbcType=VARCHAR,javaType=String}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	 select m.* from  <include refid="table" /> m  
 <include refid="orderby"/>
</select>

<select id="count" resultType="int">
	 select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" >
	 insert into <include refid="table"/> ( <include refid="colums"/> ) values ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true" >
	 update <include refid="table"/> set <include refid="updateCols"/> where <include refid="pk" />=#{model.id,jdbcType=VARCHAR,javaType=String}
</update>

<delete id="deleteInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.admin.MenuModel" id="viewMap">
 <id column="ID"  property="id" jdbcType="VARCHAR" javaType="String"/>
<result column="NAME"  property="name" jdbcType="VARCHAR" javaType="String"/>
<result column="DESCP"  property="descp" jdbcType="VARCHAR" javaType="String"/>
<result column="URL"  property="url" jdbcType="VARCHAR" javaType="String"/>
<result column="PARMA"  property="parma" jdbcType="VARCHAR" javaType="String"/>
<result column="PARENT_ID"  property="parentId" jdbcType="VARCHAR" javaType="String"/>
<result column="ORDERNUM"  property="ordernum" jdbcType="INTEGER" javaType="Integer"/>
<result column="ICON"  property="icon" jdbcType="VARCHAR" javaType="String"/>
<result column="TOKEN"  property="token" jdbcType="VARCHAR" javaType="String"/>
<result column="FOLDER"  property="folder" jdbcType="VARCHAR" javaType="String"/>
 </resultMap>


<select id="selectView" resultType="ArrayList" resultMap="viewMap">
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
<trim prefix="where" prefixOverrides="and">
<if test="model.id neq null">and m.ID=#{model.id,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.name neq null">and m.NAME=#{model.name,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.descp neq null">and m.DESCP=#{model.descp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.url neq null">and m.URL=#{model.url,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.parma neq null">and m.PARMA=#{model.parma,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.parentId neq null">and m.PARENT_ID=#{model.parentId,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ordernum neq null">and m.ORDERNUM=#{model.ordernum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.icon neq null">and m.ICON=#{model.icon,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.token neq null">and m.TOKEN=#{model.token,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.folder neq null">and m.FOLDER=#{model.folder,jdbcType=VARCHAR javaType=String } </if> 
</trim>
</select>
<select id="selectViewEqPk" parameterType="String"  resultMap="viewMap">
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{id,jdbcType=VARCHAR,javaType=String}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	 select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/> 
 <include refid="orderby"/>
</select>

</mapper>