<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-06-07 01:02:56
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.admin.MenuModel 


 public static enum F { 
  Menuid,Menuurl,Menutext,Menuimg,Ordernum,Isparent,Parentid,JavaUrl,IconCls  
 } 

private Integer Menuid;         //MENUID  NUMBER 38
private String Menuurl;         //MENUURL  VARCHAR2 200
private String Menutext;         //MENUTEXT  VARCHAR2 200
private String Menuimg;         //MENUIMG  VARCHAR2 100
private Integer Ordernum;         //ORDERNUM  NUMBER 38
private Integer Isparent;         //ISPARENT  NUMBER 38
private Integer Parentid;         //PARENTID  NUMBER 38
private String JavaUrl;         //JAVA_URL  VARCHAR2 500
private String IconCls;         //ICON_CLS  VARCHAR2 100
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.admin.IMenuMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_MENUS</sql>

<sql id="pk">MENUID</sql>

<sql id="colums">
MENUID,MENUURL,MENUTEXT,MENUIMG,ORDERNUM,ISPARENT,PARENTID,JAVA_URL,ICON_CLS 
</sql>

<sql id="insertCols">
seq_menu.nextval,
#{Menuurl,jdbcType=VARCHAR,javaType=String},
#{Menutext,jdbcType=VARCHAR,javaType=String},
#{Menuimg,jdbcType=VARCHAR,javaType=String},
#{Ordernum,jdbcType=INTEGER,javaType=Integer},
#{Isparent,jdbcType=INTEGER,javaType=Integer},
#{Parentid,jdbcType=INTEGER,javaType=Integer},
#{JavaUrl,jdbcType=VARCHAR,javaType=String},
#{IconCls,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">MENUID=#{pk},</if>
MENUURL=#{model.Menuurl,jdbcType=VARCHAR,javaType=String},
MENUTEXT=#{model.Menutext,jdbcType=VARCHAR,javaType=String},
MENUIMG=#{model.Menuimg,jdbcType=VARCHAR,javaType=String},
ORDERNUM=#{model.Ordernum,jdbcType=INTEGER,javaType=Integer},
ISPARENT=#{model.Isparent,jdbcType=INTEGER,javaType=Integer},
PARENTID=#{model.Parentid,jdbcType=INTEGER,javaType=Integer},
JAVA_URL=#{model.JavaUrl,jdbcType=VARCHAR,javaType=String},
ICON_CLS=#{model.IconCls,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.MENUID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.admin.MenuModel" id="resultMap">
 <id column="MENUID"  property="Menuid" jdbcType="INTEGER" javaType="Integer"/>
<result column="MENUURL"  property="Menuurl" jdbcType="VARCHAR" javaType="String"/>
<result column="MENUTEXT"  property="Menutext" jdbcType="VARCHAR" javaType="String"/>
<result column="MENUIMG"  property="Menuimg" jdbcType="VARCHAR" javaType="String"/>
<result column="ORDERNUM"  property="Ordernum" jdbcType="INTEGER" javaType="Integer"/>
<result column="ISPARENT"  property="Isparent" jdbcType="INTEGER" javaType="Integer"/>
<result column="PARENTID"  property="Parentid" jdbcType="INTEGER" javaType="Integer"/>
<result column="JAVA_URL"  property="JavaUrl" jdbcType="VARCHAR" javaType="String"/>
<result column="ICON_CLS"  property="IconCls" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Menuid neq null">and m.MENUID = #{model.Menuid,jdbcType=INTEGER, javaType=Integer } </if> 
<if test="model.Menuurl neq null">and m.MENUURL like #{model.Menuurl,jdbcType=VARCHAR ,javaType=String } </if> 
<if test="model.Menutext neq null">and m.MENUTEXT like #{model.Menutext,jdbcType=VARCHAR ,javaType=String } </if> 
<if test="model.Menuimg neq null">and m.MENUIMG like #{model.Menuimg,jdbcType=VARCHAR ,javaType=String } </if> 
<if test="model.Ordernum neq null">and m.ORDERNUM = #{model.Ordernum,jdbcType=INTEGER, javaType=Integer } </if> 
<if test="model.Isparent neq null">and m.ISPARENT = #{model.Isparent,jdbcType=INTEGER, javaType=Integer } </if> 
<if test="model.Parentid neq null">and m.PARENTID = #{model.Parentid,jdbcType=INTEGER, javaType=Integer } </if> 
<if test="model.JavaUrl neq null">and m.JAVA_URL like #{model.JavaUrl,jdbcType=VARCHAR ,javaType=String } </if> 
<if test="model.IconCls neq null">and m.ICON_CLS like #{model.IconCls,jdbcType=VARCHAR ,javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Menuid,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Menuid,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Menuid,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.admin.MenuModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Menuid,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>