body
{
	font-family: ו, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	font-style: normal;
	font-variant: normal;
	white-space: normal;
	margin-left: 0px;
	margin-top: 0px;
	text-align: center;
	background-color: #FFFFFF;
}

a{
   text-decoration: none;
   color: yellow;
}

button{
   
   height: 35px;
   font-size: 1.1em;
}

select{
   font-size: 1.3em;
}

input{
  font-size:25px;
  height: 40px;

}

.divFun{
    width: 1024px;
    height:502px;
    background-image: url("../../images/bottom3.jpg");
    background-repeat: no-repeat;
    padding-top:30px 
}

.divMainBtn{
      line-height:55px;
      background-position:center;
      background-repeat:no-repeat;
      width:341px;
      height:55px;
     
}


.tableFun{
   width: 90%;
   table-layout: auto;
   color: white;
}

.tableFun th{
   font-size:1.1em;
   font-weight: normal;
   text-align: right;
   padding: 10px;
   vertical-align: top;
}

.tableFun td{
   font-size: 1.3em;
   text-align: left;
   padding: 10px;
   vertical-align: top;
}

.spanMsg{
   color: white;
   font-size: 1.2em;
}

.divHeader{
   width: 1024px;
   height: 184px;
   background-image: url("img/headerBg.jpg");
   clear: both;
}

.clear{
  clear: both;
}

.btnReturn{
   background-image: url("img/returnhome.jpg");
   width: 144px;
   height: 60px;
}

.divHint{
  height: 72px; 
  vertical-align:middle;
  text-align:center; 
  line-height:72px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/hint2.jpg");
}

.imgHint{
    height: 50px;
    width: 800px;
    border-width: 0px;
    margin-top:10px;
}

.checkbox,.radio{
   width: 20px;
   height: 20px;
   margin-left: 45px;
 
}

.bgCzbrsq{
     background-image: url("../../images/czbrsq.jpg");
}

.bgDlrsq{
     background-image: url("../../images/dlrsq.jpg");
}

.bgXjzf{
	     background-image: url("../../images/xjzf.jpg");
}

.bgYlkzf{
	     background-image: url("../../images/ylkzf.jpg");
}

.bgPost{
	     background-image: url("../../images/post.jpg");
}

.bgZqu{
	     background-image: url("../../images/zqu.jpg");
}

.bgSurepay{
	     background-image: url("../../images/surepay.jpg");
}


.keypad {
     width:80px;
     height: 80px;
}
