<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.statis.IStatisCoachCarMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<select id="selectViewCoachCar" resultMap="viewMap" resultType="ArrayList" >
  select distinct  c.hphm,c.clpp ,c.jxmc ,d.jlzh ,d.sj ,d.xm ,d.sfzmhm,d.jlcxh,d.zjcx ,c.cjsj as regdate
   from (select a.cjsj,b.jxmc,b.xh,a.jlcxh,a.hphm,a.clpp from drv_learner_vehicle a
          left join drv_schoolinfo b on  a.jxxh=b.xh where a.fzjg=#{fzjg}  ) c 
   left join drv_instructor d on d.jxxh=c.xh and d.jlcxh=c.jlcxh  where d.sfzmhm like #{idCard} or c.hphm like #{hphm}
</select>


<resultMap type="com.ett.drv.view.StatisCoachCarView" id="viewMap">
    <result column="hphm" property="Hphm" />
    <result column="clpp" property="Clpp" />
    <result column="jxmc" property="Jxmc" />
    <result column="jlzh" property="Jlzh" />
    <result column="sj" property="Sj" />
    <result column="xm" property="Xm" />
    <result column="sfzmhm" property="Sfzmhm" />
    <result column="jlcxh" property="Jlcxh" />
    <result column="zjcx" property="Zjcx" />
    <result column="regdate" property="Regdate" />   
</resultMap>

</mapper>
