<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.statis.IStatisSchoolMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<select id="selectViewFirstQuery" resultMap="viewMap" resultType="ArrayList">
   select dmmc1 jxmc,
             '' countDate, 0 onStudy,'' km1hgl,'' zkhgl,'' cdhgl,'' km3hgl,'' zhgl,0 km1c1dk,0 km1nc1dk,0 zkc1dk,0 zknc1dk,0 cdc1dk,0 cdnc1dk,0 km3c1dk,0 km3nc1dk, sum(decode(kskm, 1, 1, 0)) km1,
            sum(decode(kskm, 1, 1, 0) * decode(zt, 1, 1, 0)) km1hg,
            sum(decode(kskm, 1, 1, 0) * decode(zt, 2, 1, 0)) km1bhg,
            sum(decode(kskm, 2, 1, 0) * decode(ckyy, 1, 0, 1)) zk,
            sum(decode(kskm, 2, 1, 0) * decode(ckyy, 1, 1, 0)) cd,
            sum(decode(kskm, 3, 1, 0)) km3,sum(decode(zksfhg, 1, 1, 0) * decode(kskm, 2, 1, 0) *decode(ckyy, 1, 0, 1)) zkhg,
            sum(decode(zksfhg, 1, 0, 1) * decode(kskm, 2, 1, 0) *decode(ckyy, 1, 0, 1)) zkbhg,
            sum(decode(zksfhg, 1, 1, 0) * decode(kskm, 2, 1, 0) *decode(ckyy, 1, 1, 0)) cdhg,
            sum(decode(zksfhg, 1, 0, 1) * decode(kskm, 2, 1, 0) *decode(ckyy, 1, 1, 0)) cdbhg,
            sum(decode(zt, 2, 1, 0) * decode(kskm, 3, 1, 0)) km3bhg,
            sum(decode(zt, 1, 1, 0) * decode(kskm, 3, 1, 0)) km3hg
           from (select distinct b.dmmc1,a.sfzmhm,a.zt,a.kskm,a.kscx,a.ksrq,a.zksfhg,a.ckyy
               from drv_admin.drv_preasign a left join drv_admin.drv_code b on a.dlr = b.dmz and b.dmlb = '42'
                  where a.glbm like #{glbm} and a.kscx != 'E' and a.ksrq #{beginDate} and #{endDate}) g 
                   group by g.dmmc1
</select>


<select id="selectViewSecondQuery" resultMap="viewMap" resultType="ArrayList">
   select dmmc1  jxmc,sum(decode(kskm,1,1,0)) km1hg,sum(decode(kskm,2,1,0)) zkhg,sum(decode(kskm,3,1,0)) km3hg 
             from (select distinct d.lsh, b.dmmc1, d.sfzmhm,d.kskm,d.ksrq from drv_admin.drv_grade_log d left join 
            drv_admin.drv_code b on d.jxdm = b.dmz  and b.dmlb = '42' where d.glbm like #{glbm}  and d.zjcx != 'E'  
            and d.ksrq between #{beginDate} and #{endDate} and d.zt = 1
            and not exists(select 1 from drv_admin.drv_preasign m where m.lsh=d.lsh)) g group by dmmc1
</select>


<select id="selectViewOnStudyQuery" resultMap="viewMap" resultType="ArrayList">
   select dmmc1 jxmc,count(1) onStudy from(select distinct q.lsh,
            c.dmmc1 as dmmc1, q.sfzmhm, q.zjcx  from ( select distinct a.lsh, b.jxmc, a.sfzmhm, a.zjcx
            from drv_admin.drv_flow a
              left join drv_admin.drv_examcard b on a.lsh = b.lsh
             where a.glbm like #{glbm}
            and a.zjcx != 'E' and a.KSSJ between #{beginDate} and sysdate
              and a.ywlx in ('A', 'B')   ) q
            left join drv_admin.drv_code c on q.jxmc = c.dmz
              and c.dmlb = '42') m group by dmmc1
</select>


<select id="selectViewKm1DkQuery" resultMap="viewMap" resultType="ArrayList">
   select dmmc1 jxmc,0 zkc1dk,0 zknc1dk,0 cdc1dk,0 cdnc1dk,0 km3c1dk,0
            km3nc1dk,sum(decode(zjcx,'C1',1,0)) km1c1dk,sum(decode(zjcx,'C1',0,1)) km1nc1dk from 
           ((select distinct q.lsh,c.dmmc1
            as dmmc1,q.sfzmhm,q.zjcx from
   (select distinct  a.lsh,b.jxmc,a.sfzmhm,a.zjcx from drv_admin.drv_flow a left join  drv_admin.drv_examcard b on a.sfzmhm=b.sfzmhm
    where a.glbm like #{glbm} and a.zjcx!='E' and a.ywlx in ('A','B')) q left join 
   drv_admin.drv_code c on q.jxmc=c.dmz and c.dmlb='42'  ) minus ( select distinct d.lsh,b.dmmc1,d.sfzmhm,d.zjcx
    from drv_admin.drv_grade_log d left join  drv_admin.drv_code b on d.jxdm=b.dmz and b.dmlb='42' where d.glbm like #{glbm}
    and d.zjcx!='E' and d.kskm=1 and d.zt=1))  e
    where exists  ( select 1 from drv_admin.drv_examcard c where c.sfzmhm=e.sfzmhm and c.yxqz>sysdate-1)
    group by dmmc1
</select>


<select id="selectViewZkDkQuery" resultMap="viewMap" resultType="ArrayList">
   select dmmc1 jxmc,0 km1c1dk,0 km1nc1dk,0 cdc1dk,0 cdnc1dk,0 km3c1dk,
            0 km3nc1dk,sum(decode(kscx,'C1',1,0)) zkc1dk,sum(decode(kscx,'C1',0,1)) zknc1dk from ((select
             distinct  a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a left join 
            drv_admin.drv_code b on a.dlr=b.dmz and b.dmlb='42' where exists ( select 1 from drv_admin.drv_flow f where f.sfzmhm=a.sfzmhm
             and f.ywlx in ('A','B') ) and a.glbm like #{glbm} and a.kscx!='E' and a.kskm=1 and a.zt=1 ) minus (
             select distinct a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a left join 
            drv_admin.drv_code b on a.dlr=b.dmz and b.dmlb='42' where a.glbm like #{glbm} and a.kscx!='E' and a.kskm=2 and ((a.ckyy!=1
             and a.zksfhg=1) or a.zt=1) )) " +
             e where exists (select 1 from drv_admin.drv_examcard c where c.sfzmhm=e.sfzmhm and c.yxqz>sysdate-1)
            group by dmmc1";
</select>


<select id="selectViewCdDkQuery" resultMap="viewMap" resultType="ArrayList">
     select dmmc1 jxmc,0 zkc1dk,0 zknc1dk,0 km1c1dk,0 km1nc1dk,0 km3c1dk,
            0 km3nc1dk,sum(decode(kscx,'C1',1,0)) cdc1dk,sum(decode(kscx,'C1',0,1)) cdnc1dk from
             ((select distinct  a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a left join drv_admin.drv_code b
             on a.dlr=b.dmz and b.dmlb='42' where a.glbm like #{glbm} and a.kscx!='E' and a.kskm=2 and ((a.ckyy!=1 and a.zksfhg=1)) )
             minus(select distinct a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a
             left join drv_admin.drv_code b on a.dlr=b.dmz and b.dmlb='42'
             where a.glbm like #{glbm} and a.kscx!='E' and a.kskm=2 and ((a.ckyy=1 and a.zksfhg=1)))) 
             e where exists ( select 1 from drv_admin.drv_examcard c where c.sfzmhm=e.sfzmhm and c.yxqz>sysdate-1)
             group by dmmc1
</select>

<select id="selectViewKm3DkQuery" resultMap="viewMap" resultType="ArrayList">
     select dmmc1 jxmc,0 zkc1dk,0 zknc1dk,0 cdc1dk,0 cdnc1dk,0 km1c1dk,
            0 km1nc1dk,sum(decode(kscx,'C1',1,0)) km3c1dk,sum(decode(kscx,'C1',0,1)) km3nc1dk from ((select distinct
              a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a left join  drv_admin.drv_code b on a.dlr=b.dmz and
             b.dmlb='42' where a.glbm like #{glbm} and a.kscx!='E' and a.kskm=2 and ((a.ckyy=1 and a.zksfhg=1)  or a.zt=1)  )
             minus (  select distinct a.lsh,b.dmmc1,a.sfzmhm,a.kscx from drv_admin.drv_preasign a
             left join drv_admin.drv_code b on a.dlr=b.dmz and b.dmlb='42' where a.glbm like #{glbm} and a.kscx!='E' and a.kskm=3 and a.zt=1)
             )  e where exists (select 1 from drv_admin.drv_examcard c where c.sfzmhm=e.sfzmhm and c.yxqz>sysdate-1)
             group by dmmc1
</select>


<resultMap type="com.ett.drv.view.StatisSchoolView" id="viewMap">
   <result column="jxmc" property=""/>
   <result column="countDate" property=""/>
   <result column="onStudy" property=""/>
   <result column="km1hgl" property=""/>
   <result column="zkhgl" property=""/>
   <result column="cdhgl" property=""/>
   <result column="km3hgl" property=""/>
   <result column="zhgl" property=""/>
   <result column="km1c1dk" property=""/>
   <result column="km1nc1dk" property=""/>
   <result column="zkc1dk" property=""/>
   <result column="zknc1dk" property=""/>
   <result column="cdc1dk" property=""/>
   <result column="cdnc1dk" property=""/>
   <result column="km3c1dk" property=""/>   
   <result column="km3nc1dk" property=""/>
   <result column="km1" property=""/>
</resultMap>

</mapper>
