<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.statis.IStatisKmMapper">

<cache flushInterval="30000" readOnly="true"></cache>


   <select id="selectViewKm3KscsGt"  resultMap="viewMap" resultType="ArrayList">
     select m.* from (select fzjg,km3ksy1 ,count(*) num 
     from drv_admin.drv_grade t where  km3ksrq between #{beginDate} and #{endDate} and 
    kscx like 'C%'   and fzjg=#{fzjg} group by fzjg,km3ksy1 having count(*)>#{gtTimes} ) m order by num desc
   </select>

  <resultMap type="com.ett.drv.view.StatisKmView" id="viewMap">
     <result column="fzjg" property="Fzjg" />
     <result column="km3ksy1" property="Km3ksy1" />
     <result column="num" property="Num" />
  </resultMap>

</mapper>
