<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.booked.ILimitMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_YUYUE_LIMIT</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,I_WEEK_NUM,C_CAR_TYPE,I_DAYOFWEEK,I_KM,C_SCHOOL_CODE,C_SCHOOL_NAME,DATE_KSRQ,C_KSCC_CODE,C_KSCC,C_KSDD_CODE,
C_KSDD,I_TOTAL,I_USED_NUM,I_CHECKED_NUM,I_TPTOTAL,I_TPUSED_NUM,I_TPCHECKED_NUM,C_OPERATOR 
</sql>

<sql id="insertCols">
#{id,jdbcType=INTEGER,javaType=Integer},
#{weekNum,jdbcType=INTEGER,javaType=Integer},
#{carType,jdbcType=VARCHAR,javaType=String},
#{dayofweek,jdbcType=INTEGER,javaType=Integer},
#{km,jdbcType=INTEGER,javaType=Integer},
#{schoolCode,jdbcType=VARCHAR,javaType=String},
#{schoolName,jdbcType=VARCHAR,javaType=String},
#{dateKsrq,jdbcType=VARCHAR,javaType=String},
#{ksccCode,jdbcType=VARCHAR,javaType=String},
#{kscc,jdbcType=VARCHAR,javaType=String},
#{ksddCode,jdbcType=VARCHAR,javaType=String},
#{ksdd,jdbcType=VARCHAR,javaType=String},
#{total,jdbcType=INTEGER,javaType=Integer},
#{usedNum,jdbcType=INTEGER,javaType=Integer},
#{checkedNum,jdbcType=INTEGER,javaType=Integer},
#{tptotal,jdbcType=INTEGER,javaType=Integer},
#{tpusedNum,jdbcType=INTEGER,javaType=Integer},
#{tpcheckedNum,jdbcType=INTEGER,javaType=Integer},
#{operator,jdbcType=VARCHAR,javaType=String} 
</sql>

<sql id="updateCols">
 <if test="pk neq null">ID=#{pk},</if>
I_WEEK_NUM=#{model.weekNum,jdbcType=INTEGER,javaType=Integer},
C_CAR_TYPE=#{model.carType,jdbcType=VARCHAR,javaType=String},
I_DAYOFWEEK=#{model.dayofweek,jdbcType=INTEGER,javaType=Integer},
I_KM=#{model.km,jdbcType=INTEGER,javaType=Integer},
C_SCHOOL_CODE=#{model.schoolCode,jdbcType=VARCHAR,javaType=String},
C_SCHOOL_NAME=#{model.schoolName,jdbcType=VARCHAR,javaType=String},
DATE_KSRQ=#{model.dateKsrq,jdbcType=VARCHAR,javaType=String},
C_KSCC_CODE=#{model.ksccCode,jdbcType=VARCHAR,javaType=String},
C_KSCC=#{model.kscc,jdbcType=VARCHAR,javaType=String},
C_KSDD_CODE=#{model.ksddCode,jdbcType=VARCHAR,javaType=String},
C_KSDD=#{model.ksdd,jdbcType=VARCHAR,javaType=String},
I_TOTAL=#{model.total,jdbcType=INTEGER,javaType=Integer},
I_USED_NUM=#{model.usedNum,jdbcType=INTEGER,javaType=Integer},
I_CHECKED_NUM=#{model.checkedNum,jdbcType=INTEGER,javaType=Integer},
I_TPTOTAL=#{model.tptotal,jdbcType=INTEGER,javaType=Integer},
I_TPUSED_NUM=#{model.tpusedNum,jdbcType=INTEGER,javaType=Integer},
I_TPCHECKED_NUM=#{model.tpcheckedNum,jdbcType=INTEGER,javaType=Integer},
C_OPERATOR=#{model.operator,jdbcType=VARCHAR,javaType=String}
</sql>

<sql id="orderby">order by ID</sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.booked.BookedLimitModel" id="resultMap">
 <id column="ID"  property="id" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK_NUM"  property="weekNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_CAR_TYPE"  property="carType" jdbcType="VARCHAR" javaType="String"/>
<result column="I_DAYOFWEEK"  property="dayofweek" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_KM"  property="km" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_SCHOOL_CODE"  property="schoolCode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_SCHOOL_NAME"  property="schoolName" jdbcType="VARCHAR" javaType="String"/>
<result column="DATE_KSRQ"  property="dateKsrq" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KSCC_CODE"  property="ksccCode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KSCC"  property="kscc" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KSDD_CODE"  property="ksddCode" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KSDD"  property="ksdd" jdbcType="VARCHAR" javaType="String"/>
<result column="I_TOTAL"  property="total" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_USED_NUM"  property="usedNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_CHECKED_NUM"  property="checkedNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_TPTOTAL"  property="tptotal" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_TPUSED_NUM"  property="tpusedNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_TPCHECKED_NUM"  property="tpcheckedNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_OPERATOR"  property="operator" jdbcType="VARCHAR" javaType="String"/>
 </resultMap>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
<trim prefix="where" prefixOverrides="and">
<if test="model.id neq null">and m.ID=#{model.id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.weekNum neq null">and m.I_WEEK_NUM=#{model.weekNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.carType neq null">and m.C_CAR_TYPE=#{model.carType,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.dayofweek neq null">and m.I_DAYOFWEEK=#{model.dayofweek,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.km neq null">and m.I_KM=#{model.km,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.schoolCode neq null">and m.C_SCHOOL_CODE=#{model.schoolCode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.schoolName neq null">and m.C_SCHOOL_NAME=#{model.schoolName,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.dateKsrq neq null">and m.DATE_KSRQ=#{model.dateKsrq,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ksccCode neq null">and m.C_KSCC_CODE=#{model.ksccCode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.kscc neq null">and m.C_KSCC=#{model.kscc,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ksddCode neq null">and m.C_KSDD_CODE=#{model.ksddCode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ksdd neq null">and m.C_KSDD=#{model.ksdd,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.total neq null">and m.I_TOTAL=#{model.total,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.usedNum neq null">and m.I_USED_NUM=#{model.usedNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.checkedNum neq null">and m.I_CHECKED_NUM=#{model.checkedNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.tptotal neq null">and m.I_TPTOTAL=#{model.tptotal,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.tpusedNum neq null">and m.I_TPUSED_NUM=#{model.tpusedNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.tpcheckedNum neq null">and m.I_TPCHECKED_NUM=#{model.tpcheckedNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.operator neq null">and m.C_OPERATOR=#{model.operator,jdbcType=VARCHAR javaType=String } </if> 
</trim>
</select>
<select id="selectEqPk" parameterType="String"  resultMap="resultMap">
	 select <include refid="colums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="count" resultType="int">
	 select count(*) from <include refid="table"/>
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/> 
 <include refid="orderby"/>
</select>

<insert id="insertOne" >
	 insert into <include refid="table"/> ( <include refid="colums"/> ) values ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true" >
	 update <include refid="table"/> set <include refid="updateCols"/> where <include refid="pk" />=#{model.id,jdbcType=INTEGER,javaType=Integer}
</update>

<delete id="deleteInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



</mapper>
