<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-26 11:06:52
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.booked.BookedWeekRecordModel 


 public static enum F { 
  Id,IWeekNum,IWeek1Km1Num,IWeek1Km1Fp,IWeek1Km2Num,IWeek1Km2Fp,IWeek1Km3Num,IWeek1Km3Fp,IWeek2Km1Num,IWeek2Km1Fp,IWeek2Km2Num,
IWeek2Km2Fp,IWeek2Km3Num,IWeek2Km3Fp,IWeek3Km1Num,IWeek3Km1Fp,IWeek3Km2Num,IWeek3Km2Fp,IWeek3Km3Num,IWeek3Km3Fp,IWeek4Km1Num,
IWeek4Km1Fp,IWeek4Km2Num,IWeek4Km2Fp,IWeek4Km3Num,IWeek4Km3Fp,IWeek5Km1Num,IWeek5Km1Fp,IWeek5Km2Num,IWeek5Km2Fp,IWeek5Km3Num,
IWeek5Km3Fp,IWeek6Km1Num,IWeek6Km1Fp,IWeek6Km2Num,IWeek6Km2Fp,IWeek6Km3Num,IWeek6Km3Fp,IWeek7Km1Num,IWeek7Km1Fp,IWeek7Km2Num,
IWeek7Km2Fp,IWeek7Km3Num,IWeek7Km3Fp,CCheckOperator,CCheckDate,IChecked,CWeekRange  
 } 

private Integer Id;         //ID  NUMBER 38
private Integer IWeekNum;         //I_WEEK_NUM  NUMBER 38
private Integer IWeek1Km1Num;         //I_WEEK1_KM1_NUM  NUMBER 38
private String IWeek1Km1Fp;         //I_WEEK1_KM1_FP  VARCHAR2 600
private Integer IWeek1Km2Num;         //I_WEEK1_KM2_NUM  NUMBER 38
private String IWeek1Km2Fp;         //I_WEEK1_KM2_FP  VARCHAR2 600
private Integer IWeek1Km3Num;         //I_WEEK1_KM3_NUM  NUMBER 38
private String IWeek1Km3Fp;         //I_WEEK1_KM3_FP  VARCHAR2 600
private Integer IWeek2Km1Num;         //I_WEEK2_KM1_NUM  NUMBER 38
private String IWeek2Km1Fp;         //I_WEEK2_KM1_FP  VARCHAR2 600
private Integer IWeek2Km2Num;         //I_WEEK2_KM2_NUM  NUMBER 38
private String IWeek2Km2Fp;         //I_WEEK2_KM2_FP  VARCHAR2 600
private Integer IWeek2Km3Num;         //I_WEEK2_KM3_NUM  NUMBER 38
private String IWeek2Km3Fp;         //I_WEEK2_KM3_FP  VARCHAR2 600
private Integer IWeek3Km1Num;         //I_WEEK3_KM1_NUM  NUMBER 38
private String IWeek3Km1Fp;         //I_WEEK3_KM1_FP  VARCHAR2 600
private Integer IWeek3Km2Num;         //I_WEEK3_KM2_NUM  NUMBER 38
private String IWeek3Km2Fp;         //I_WEEK3_KM2_FP  VARCHAR2 600
private Integer IWeek3Km3Num;         //I_WEEK3_KM3_NUM  NUMBER 38
private String IWeek3Km3Fp;         //I_WEEK3_KM3_FP  VARCHAR2 600
private Integer IWeek4Km1Num;         //I_WEEK4_KM1_NUM  NUMBER 38
private String IWeek4Km1Fp;         //I_WEEK4_KM1_FP  VARCHAR2 600
private Integer IWeek4Km2Num;         //I_WEEK4_KM2_NUM  NUMBER 38
private String IWeek4Km2Fp;         //I_WEEK4_KM2_FP  VARCHAR2 600
private Integer IWeek4Km3Num;         //I_WEEK4_KM3_NUM  NUMBER 38
private String IWeek4Km3Fp;         //I_WEEK4_KM3_FP  VARCHAR2 600
private Integer IWeek5Km1Num;         //I_WEEK5_KM1_NUM  NUMBER 38
private String IWeek5Km1Fp;         //I_WEEK5_KM1_FP  VARCHAR2 600
private Integer IWeek5Km2Num;         //I_WEEK5_KM2_NUM  NUMBER 38
private String IWeek5Km2Fp;         //I_WEEK5_KM2_FP  VARCHAR2 600
private Integer IWeek5Km3Num;         //I_WEEK5_KM3_NUM  NUMBER 38
private String IWeek5Km3Fp;         //I_WEEK5_KM3_FP  VARCHAR2 600
private Integer IWeek6Km1Num;         //I_WEEK6_KM1_NUM  NUMBER 38
private String IWeek6Km1Fp;         //I_WEEK6_KM1_FP  VARCHAR2 600
private Integer IWeek6Km2Num;         //I_WEEK6_KM2_NUM  NUMBER 38
private String IWeek6Km2Fp;         //I_WEEK6_KM2_FP  VARCHAR2 600
private Integer IWeek6Km3Num;         //I_WEEK6_KM3_NUM  NUMBER 38
private String IWeek6Km3Fp;         //I_WEEK6_KM3_FP  VARCHAR2 600
private Integer IWeek7Km1Num;         //I_WEEK7_KM1_NUM  NUMBER 38
private String IWeek7Km1Fp;         //I_WEEK7_KM1_FP  VARCHAR2 600
private Integer IWeek7Km2Num;         //I_WEEK7_KM2_NUM  NUMBER 38
private String IWeek7Km2Fp;         //I_WEEK7_KM2_FP  VARCHAR2 600
private Integer IWeek7Km3Num;         //I_WEEK7_KM3_NUM  NUMBER 38
private String IWeek7Km3Fp;         //I_WEEK7_KM3_FP  VARCHAR2 600
private String CCheckOperator;         //C_CHECK_OPERATOR  VARCHAR2 60
private String CCheckDate;         //C_CHECK_DATE  VARCHAR2 30
private Integer IChecked;         //I_CHECKED  NUMBER 38
private String CWeekRange;         //C_WEEK_RANGE  VARCHAR2 60
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.booked.IWeekRecordMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_WEEK_RECORD</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,I_WEEK_NUM,I_WEEK1_KM1_NUM,I_WEEK1_KM1_FP,I_WEEK1_KM2_NUM,I_WEEK1_KM2_FP,I_WEEK1_KM3_NUM,I_WEEK1_KM3_FP,I_WEEK2_KM1_NUM,I_WEEK2_KM1_FP,I_WEEK2_KM2_NUM,
I_WEEK2_KM2_FP,I_WEEK2_KM3_NUM,I_WEEK2_KM3_FP,I_WEEK3_KM1_NUM,I_WEEK3_KM1_FP,I_WEEK3_KM2_NUM,I_WEEK3_KM2_FP,I_WEEK3_KM3_NUM,I_WEEK3_KM3_FP,I_WEEK4_KM1_NUM,
I_WEEK4_KM1_FP,I_WEEK4_KM2_NUM,I_WEEK4_KM2_FP,I_WEEK4_KM3_NUM,I_WEEK4_KM3_FP,I_WEEK5_KM1_NUM,I_WEEK5_KM1_FP,I_WEEK5_KM2_NUM,I_WEEK5_KM2_FP,I_WEEK5_KM3_NUM,
I_WEEK5_KM3_FP,I_WEEK6_KM1_NUM,I_WEEK6_KM1_FP,I_WEEK6_KM2_NUM,I_WEEK6_KM2_FP,I_WEEK6_KM3_NUM,I_WEEK6_KM3_FP,I_WEEK7_KM1_NUM,I_WEEK7_KM1_FP,I_WEEK7_KM2_NUM,
I_WEEK7_KM2_FP,I_WEEK7_KM3_NUM,I_WEEK7_KM3_FP,C_CHECK_OPERATOR,C_CHECK_DATE,I_CHECKED,C_WEEK_RANGE 
</sql>

<sql id="insertCols">
seq_week_record.nextval,
#{IWeekNum,jdbcType=INTEGER,javaType=Integer},
#{IWeek1Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek1Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek1Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek1Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek1Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek1Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek2Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek2Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek2Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek2Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek2Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek2Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek3Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek3Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek3Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek3Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek3Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek3Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek4Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek4Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek4Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek4Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek4Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek4Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek5Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek5Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek5Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek5Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek5Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek5Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek6Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek6Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek6Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek6Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek6Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek6Km3Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek7Km1Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek7Km1Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek7Km2Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek7Km2Fp,jdbcType=VARCHAR,javaType=String},
#{IWeek7Km3Num,jdbcType=INTEGER,javaType=Integer},
#{IWeek7Km3Fp,jdbcType=VARCHAR,javaType=String},
#{CCheckOperator,jdbcType=VARCHAR,javaType=String},
#{CCheckDate,jdbcType=VARCHAR,javaType=String},
#{IChecked,jdbcType=INTEGER,javaType=Integer},
#{CWeekRange,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk},</if>
I_WEEK_NUM=#{model.IWeekNum,jdbcType=INTEGER,javaType=Integer},
I_WEEK1_KM1_NUM=#{model.IWeek1Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK1_KM1_FP=#{model.IWeek1Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK1_KM2_NUM=#{model.IWeek1Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK1_KM2_FP=#{model.IWeek1Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK1_KM3_NUM=#{model.IWeek1Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK1_KM3_FP=#{model.IWeek1Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK2_KM1_NUM=#{model.IWeek2Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK2_KM1_FP=#{model.IWeek2Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK2_KM2_NUM=#{model.IWeek2Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK2_KM2_FP=#{model.IWeek2Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK2_KM3_NUM=#{model.IWeek2Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK2_KM3_FP=#{model.IWeek2Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK3_KM1_NUM=#{model.IWeek3Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK3_KM1_FP=#{model.IWeek3Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK3_KM2_NUM=#{model.IWeek3Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK3_KM2_FP=#{model.IWeek3Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK3_KM3_NUM=#{model.IWeek3Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK3_KM3_FP=#{model.IWeek3Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK4_KM1_NUM=#{model.IWeek4Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK4_KM1_FP=#{model.IWeek4Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK4_KM2_NUM=#{model.IWeek4Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK4_KM2_FP=#{model.IWeek4Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK4_KM3_NUM=#{model.IWeek4Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK4_KM3_FP=#{model.IWeek4Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK5_KM1_NUM=#{model.IWeek5Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK5_KM1_FP=#{model.IWeek5Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK5_KM2_NUM=#{model.IWeek5Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK5_KM2_FP=#{model.IWeek5Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK5_KM3_NUM=#{model.IWeek5Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK5_KM3_FP=#{model.IWeek5Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK6_KM1_NUM=#{model.IWeek6Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK6_KM1_FP=#{model.IWeek6Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK6_KM2_NUM=#{model.IWeek6Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK6_KM2_FP=#{model.IWeek6Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK6_KM3_NUM=#{model.IWeek6Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK6_KM3_FP=#{model.IWeek6Km3Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK7_KM1_NUM=#{model.IWeek7Km1Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK7_KM1_FP=#{model.IWeek7Km1Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK7_KM2_NUM=#{model.IWeek7Km2Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK7_KM2_FP=#{model.IWeek7Km2Fp,jdbcType=VARCHAR,javaType=String},
I_WEEK7_KM3_NUM=#{model.IWeek7Km3Num,jdbcType=INTEGER,javaType=Integer},
I_WEEK7_KM3_FP=#{model.IWeek7Km3Fp,jdbcType=VARCHAR,javaType=String},
C_CHECK_OPERATOR=#{model.CCheckOperator,jdbcType=VARCHAR,javaType=String},
C_CHECK_DATE=#{model.CCheckDate,jdbcType=VARCHAR,javaType=String},
I_CHECKED=#{model.IChecked,jdbcType=INTEGER,javaType=Integer},
C_WEEK_RANGE=#{model.CWeekRange,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.booked.BookedWeekRecordModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK_NUM"  property="IWeekNum" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK1_KM1_NUM"  property="IWeek1Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK1_KM1_FP"  property="IWeek1Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK1_KM2_NUM"  property="IWeek1Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK1_KM2_FP"  property="IWeek1Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK1_KM3_NUM"  property="IWeek1Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK1_KM3_FP"  property="IWeek1Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK2_KM1_NUM"  property="IWeek2Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK2_KM1_FP"  property="IWeek2Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK2_KM2_NUM"  property="IWeek2Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK2_KM2_FP"  property="IWeek2Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK2_KM3_NUM"  property="IWeek2Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK2_KM3_FP"  property="IWeek2Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK3_KM1_NUM"  property="IWeek3Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK3_KM1_FP"  property="IWeek3Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK3_KM2_NUM"  property="IWeek3Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK3_KM2_FP"  property="IWeek3Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK3_KM3_NUM"  property="IWeek3Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK3_KM3_FP"  property="IWeek3Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK4_KM1_NUM"  property="IWeek4Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK4_KM1_FP"  property="IWeek4Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK4_KM2_NUM"  property="IWeek4Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK4_KM2_FP"  property="IWeek4Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK4_KM3_NUM"  property="IWeek4Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK4_KM3_FP"  property="IWeek4Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK5_KM1_NUM"  property="IWeek5Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK5_KM1_FP"  property="IWeek5Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK5_KM2_NUM"  property="IWeek5Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK5_KM2_FP"  property="IWeek5Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK5_KM3_NUM"  property="IWeek5Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK5_KM3_FP"  property="IWeek5Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK6_KM1_NUM"  property="IWeek6Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK6_KM1_FP"  property="IWeek6Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK6_KM2_NUM"  property="IWeek6Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK6_KM2_FP"  property="IWeek6Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK6_KM3_NUM"  property="IWeek6Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK6_KM3_FP"  property="IWeek6Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK7_KM1_NUM"  property="IWeek7Km1Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK7_KM1_FP"  property="IWeek7Km1Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK7_KM2_NUM"  property="IWeek7Km2Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK7_KM2_FP"  property="IWeek7Km2Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="I_WEEK7_KM3_NUM"  property="IWeek7Km3Num" jdbcType="INTEGER" javaType="Integer"/>
<result column="I_WEEK7_KM3_FP"  property="IWeek7Km3Fp" jdbcType="VARCHAR" javaType="String"/>
<result column="C_CHECK_OPERATOR"  property="CCheckOperator" jdbcType="VARCHAR" javaType="String"/>
<result column="C_CHECK_DATE"  property="CCheckDate" jdbcType="VARCHAR" javaType="String"/>
<result column="I_CHECKED"  property="IChecked" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_WEEK_RANGE"  property="CWeekRange" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeekNum neq null">and m.I_WEEK_NUM = #{model.IWeekNum,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek1Km1Num neq null">and m.I_WEEK1_KM1_NUM = #{model.IWeek1Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek1Km1Fp neq null">and m.I_WEEK1_KM1_FP like #{model.IWeek1Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek1Km2Num neq null">and m.I_WEEK1_KM2_NUM = #{model.IWeek1Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek1Km2Fp neq null">and m.I_WEEK1_KM2_FP like #{model.IWeek1Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek1Km3Num neq null">and m.I_WEEK1_KM3_NUM = #{model.IWeek1Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek1Km3Fp neq null">and m.I_WEEK1_KM3_FP like #{model.IWeek1Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek2Km1Num neq null">and m.I_WEEK2_KM1_NUM = #{model.IWeek2Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek2Km1Fp neq null">and m.I_WEEK2_KM1_FP like #{model.IWeek2Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek2Km2Num neq null">and m.I_WEEK2_KM2_NUM = #{model.IWeek2Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek2Km2Fp neq null">and m.I_WEEK2_KM2_FP like #{model.IWeek2Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek2Km3Num neq null">and m.I_WEEK2_KM3_NUM = #{model.IWeek2Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek2Km3Fp neq null">and m.I_WEEK2_KM3_FP like #{model.IWeek2Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek3Km1Num neq null">and m.I_WEEK3_KM1_NUM = #{model.IWeek3Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek3Km1Fp neq null">and m.I_WEEK3_KM1_FP like #{model.IWeek3Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek3Km2Num neq null">and m.I_WEEK3_KM2_NUM = #{model.IWeek3Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek3Km2Fp neq null">and m.I_WEEK3_KM2_FP like #{model.IWeek3Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek3Km3Num neq null">and m.I_WEEK3_KM3_NUM = #{model.IWeek3Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek3Km3Fp neq null">and m.I_WEEK3_KM3_FP like #{model.IWeek3Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek4Km1Num neq null">and m.I_WEEK4_KM1_NUM = #{model.IWeek4Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek4Km1Fp neq null">and m.I_WEEK4_KM1_FP like #{model.IWeek4Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek4Km2Num neq null">and m.I_WEEK4_KM2_NUM = #{model.IWeek4Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek4Km2Fp neq null">and m.I_WEEK4_KM2_FP like #{model.IWeek4Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek4Km3Num neq null">and m.I_WEEK4_KM3_NUM = #{model.IWeek4Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek4Km3Fp neq null">and m.I_WEEK4_KM3_FP like #{model.IWeek4Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek5Km1Num neq null">and m.I_WEEK5_KM1_NUM = #{model.IWeek5Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek5Km1Fp neq null">and m.I_WEEK5_KM1_FP like #{model.IWeek5Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek5Km2Num neq null">and m.I_WEEK5_KM2_NUM = #{model.IWeek5Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek5Km2Fp neq null">and m.I_WEEK5_KM2_FP like #{model.IWeek5Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek5Km3Num neq null">and m.I_WEEK5_KM3_NUM = #{model.IWeek5Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek5Km3Fp neq null">and m.I_WEEK5_KM3_FP like #{model.IWeek5Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek6Km1Num neq null">and m.I_WEEK6_KM1_NUM = #{model.IWeek6Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek6Km1Fp neq null">and m.I_WEEK6_KM1_FP like #{model.IWeek6Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek6Km2Num neq null">and m.I_WEEK6_KM2_NUM = #{model.IWeek6Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek6Km2Fp neq null">and m.I_WEEK6_KM2_FP like #{model.IWeek6Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek6Km3Num neq null">and m.I_WEEK6_KM3_NUM = #{model.IWeek6Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek6Km3Fp neq null">and m.I_WEEK6_KM3_FP like #{model.IWeek6Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek7Km1Num neq null">and m.I_WEEK7_KM1_NUM = #{model.IWeek7Km1Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek7Km1Fp neq null">and m.I_WEEK7_KM1_FP like #{model.IWeek7Km1Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek7Km2Num neq null">and m.I_WEEK7_KM2_NUM = #{model.IWeek7Km2Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek7Km2Fp neq null">and m.I_WEEK7_KM2_FP like #{model.IWeek7Km2Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IWeek7Km3Num neq null">and m.I_WEEK7_KM3_NUM = #{model.IWeek7Km3Num,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.IWeek7Km3Fp neq null">and m.I_WEEK7_KM3_FP like #{model.IWeek7Km3Fp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CCheckOperator neq null">and m.C_CHECK_OPERATOR like #{model.CCheckOperator,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CCheckDate neq null">and m.C_CHECK_DATE like #{model.CCheckDate,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IChecked neq null">and m.I_CHECKED = #{model.IChecked,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CWeekRange neq null">and m.C_WEEK_RANGE like #{model.CWeekRange,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.booked.BookedWeekRecordModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>