<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<import resource="applicationContext.xml"/>


<bean id="actionAdminBiz" parent="baseAdminBiz"></bean>
<bean id="actionVehicleBiz" parent="baseVehicleBiz"></bean>
<bean id="actionDriverBiz" parent="baseDriverBiz"></bean>


<bean id="baseAction"  abstract="true"
   class="com.ett.visual.action.BaseVisualAction"  
>
   <property name="adminBiz" ref="actionAdminBiz"></property>
   <property name="driverBiz" ref="actionDriverBiz"></property>
   <property name="vehicleBiz" ref="actionVehicleBiz"></property>
</bean>


<bean class="com.ett.visual.action.admin.MenuAction" parent="baseAction"
 id="com.ett.visual.action.admin.MenuAction"
>
</bean>

<bean class="com.ett.visual.action.admin.RoleAction" parent="baseAction"
 id="com.ett.visual.action.admin.RoleAction"
>
</bean>

<bean class="com.ett.visual.action.admin.UserAction" parent="baseAction"
 id="com.ett.visual.action.admin.UserAction"
>
</bean>

<bean class="com.ett.visual.action.driver.DriverFileAction" parent="baseAction"
 id="com.ett.visual.action.driver.DriverFileAction"
>
</bean>

<bean class="com.ett.visual.action.driver.DriverInfoAction" parent="baseAction"
 id="com.ett.visual.action.driver.DriverInfoAction"
>
</bean>

</beans>
