<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-25 04:53:47
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.self.DeviceSnModel 


 public static enum F { 
  Id,CCreateip,TCreatetime,CCreator,IIsdeleted,CDescription,CKeywords,CModifier,CModifyip,TModifytime,CDeviceIp,
CJkname,CJkid,CJkxlh,CSn,CXtlb  
 } 

private Integer Id;         //ID  NUMBER 19
private String CCreateip;         //C_CREATEIP  VARCHAR2 1,020
private Timestamp TCreatetime;         //T_CREATETIME  TIMESTAMP 0
private String CCreator;         //C_CREATOR  VARCHAR2 120
private Integer IIsdeleted;         //I_ISDELETED  NUMBER 1
private String CDescription;         //C_DESCRIPTION  VARCHAR2 1,020
private String CKeywords;         //C_KEYWORDS  VARCHAR2 1,020
private String CModifier;         //C_MODIFIER  VARCHAR2 1,020
private String CModifyip;         //C_MODIFYIP  VARCHAR2 1,020
private Timestamp TModifytime;         //T_MODIFYTIME  TIMESTAMP 0
private String CDeviceIp;         //C_DEVICE_IP  VARCHAR2 64
private String CJkname;         //C_JKNAME  VARCHAR2 64
private String CJkid;         //C_JKID  VARCHAR2 64
private String CJkxlh;         //C_JKXLH  VARCHAR2 64
private String CSn;         //C_SN  VARCHAR2 64
private String CXtlb;         //C_XTLB  VARCHAR2 64
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.IDeviceSnMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_SELF_DEVICE_SN</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,C_CREATEIP,T_CREATETIME,C_CREATOR,I_ISDELETED,C_DESCRIPTION,C_KEYWORDS,C_MODIFIER,C_MODIFYIP,T_MODIFYTIME,C_DEVICE_IP,
C_JKNAME,C_JKID,C_JKXLH,C_SN,C_XTLB 
</sql>

<sql id="insertCols">
seq_self_devicesn.nextval,
#{CCreateip,jdbcType=VARCHAR,javaType=String},
#{TCreatetime,jdbcType=TIMESTAMP,javaType=Timestamp},
#{CCreator,jdbcType=VARCHAR,javaType=String},
#{IIsdeleted,jdbcType=INTEGER,javaType=Integer},
#{CDescription,jdbcType=VARCHAR,javaType=String},
#{CKeywords,jdbcType=VARCHAR,javaType=String},
#{CModifier,jdbcType=VARCHAR,javaType=String},
#{CModifyip,jdbcType=VARCHAR,javaType=String},
#{TModifytime,jdbcType=TIMESTAMP,javaType=Timestamp},
#{CDeviceIp,jdbcType=VARCHAR,javaType=String},
#{CJkname,jdbcType=VARCHAR,javaType=String},
#{CJkid,jdbcType=VARCHAR,javaType=String},
#{CJkxlh,jdbcType=VARCHAR,javaType=String},
#{CSn,jdbcType=VARCHAR,javaType=String},
#{CXtlb,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk}</if>,
C_CREATEIP=#{CCreateip,jdbcType=VARCHAR,javaType=String},
T_CREATETIME=#{TCreatetime,jdbcType=TIMESTAMP,javaType=Timestamp},
C_CREATOR=#{CCreator,jdbcType=VARCHAR,javaType=String},
I_ISDELETED=#{IIsdeleted,jdbcType=INTEGER,javaType=Integer},
C_DESCRIPTION=#{CDescription,jdbcType=VARCHAR,javaType=String},
C_KEYWORDS=#{CKeywords,jdbcType=VARCHAR,javaType=String},
C_MODIFIER=#{CModifier,jdbcType=VARCHAR,javaType=String},
C_MODIFYIP=#{CModifyip,jdbcType=VARCHAR,javaType=String},
T_MODIFYTIME=#{TModifytime,jdbcType=TIMESTAMP,javaType=Timestamp},
C_DEVICE_IP=#{CDeviceIp,jdbcType=VARCHAR,javaType=String},
C_JKNAME=#{CJkname,jdbcType=VARCHAR,javaType=String},
C_JKID=#{CJkid,jdbcType=VARCHAR,javaType=String},
C_JKXLH=#{CJkxlh,jdbcType=VARCHAR,javaType=String},
C_SN=#{CSn,jdbcType=VARCHAR,javaType=String},
C_XTLB=#{CXtlb,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.DeviceSnModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_CREATEIP"  property="CCreateip" jdbcType="VARCHAR" javaType="String"/>
<result column="T_CREATETIME"  property="TCreatetime" jdbcType="TIMESTAMP" javaType="Timestamp"/>
<result column="C_CREATOR"  property="CCreator" jdbcType="VARCHAR" javaType="String"/>
<result column="I_ISDELETED"  property="IIsdeleted" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_DESCRIPTION"  property="CDescription" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KEYWORDS"  property="CKeywords" jdbcType="VARCHAR" javaType="String"/>
<result column="C_MODIFIER"  property="CModifier" jdbcType="VARCHAR" javaType="String"/>
<result column="C_MODIFYIP"  property="CModifyip" jdbcType="VARCHAR" javaType="String"/>
<result column="T_MODIFYTIME"  property="TModifytime" jdbcType="TIMESTAMP" javaType="Timestamp"/>
<result column="C_DEVICE_IP"  property="CDeviceIp" jdbcType="VARCHAR" javaType="String"/>
<result column="C_JKNAME"  property="CJkname" jdbcType="VARCHAR" javaType="String"/>
<result column="C_JKID"  property="CJkid" jdbcType="VARCHAR" javaType="String"/>
<result column="C_JKXLH"  property="CJkxlh" jdbcType="VARCHAR" javaType="String"/>
<result column="C_SN"  property="CSn" jdbcType="VARCHAR" javaType="String"/>
<result column="C_XTLB"  property="CXtlb" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CCreateip neq null">and m.C_CREATEIP like #{model.CCreateip,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.TCreatetime neq null">and to_char(m.T_CREATETIME,'YYYY-MM-DD') = to_char(#{model.TCreatetime,jdbcType=TIMESTAMP javaType=Timestamp },'YYYY-MM-DD') </if> 
<if test="model.CCreator neq null">and m.C_CREATOR like #{model.CCreator,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IIsdeleted neq null">and m.I_ISDELETED = #{model.IIsdeleted,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CDescription neq null">and m.C_DESCRIPTION like #{model.CDescription,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CKeywords neq null">and m.C_KEYWORDS like #{model.CKeywords,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CModifier neq null">and m.C_MODIFIER like #{model.CModifier,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CModifyip neq null">and m.C_MODIFYIP like #{model.CModifyip,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.TModifytime neq null">and to_char(m.T_MODIFYTIME,'YYYY-MM-DD') = to_char(#{model.TModifytime,jdbcType=TIMESTAMP javaType=Timestamp },'YYYY-MM-DD') </if> 
<if test="model.CDeviceIp neq null">and m.C_DEVICE_IP like #{model.CDeviceIp,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CJkname neq null">and m.C_JKNAME like #{model.CJkname,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CJkid neq null">and m.C_JKID like #{model.CJkid,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CJkxlh neq null">and m.C_JKXLH like #{model.CJkxlh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CSn neq null">and m.C_SN like #{model.CSn,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CXtlb neq null">and m.C_XTLB like #{model.CXtlb,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.self.DeviceSnModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>