<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-25 10:26:46
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.self.Km1PreasignRecordModel 


 public static enum F { 
  Id,CCreateip,TCreatetime,CCreator,IIsdeleted,CDescription,CKeywords,CModifier,CModifyip,TModifytime,Jxdm,
Jxmc,Kscccode,Ksccname,Ksddcode,Ksddname,Ksrq,Lsh,Sfzmhm,Xm  
 } 

private Integer Id;         //ID  NUMBER 19
private String CCreateip;         //C_CREATEIP  VARCHAR2 1,020
private Date TCreatetime;         //T_CREATETIME  DATE 0
private String CCreator;         //C_CREATOR  VARCHAR2 120
private Integer IIsdeleted;         //I_ISDELETED  NUMBER 1
private String CDescription;         //C_DESCRIPTION  VARCHAR2 1,020
private String CKeywords;         //C_KEYWORDS  VARCHAR2 1,020
private String CModifier;         //C_MODIFIER  VARCHAR2 1,020
private String CModifyip;         //C_MODIFYIP  VARCHAR2 1,020
private Date TModifytime;         //T_MODIFYTIME  DATE 0
private String Jxdm;         //JXDM  VARCHAR2 1,020
private String Jxmc;         //JXMC  VARCHAR2 1,020
private String Kscccode;         //KSCCCODE  VARCHAR2 1,020
private String Ksccname;         //KSCCNAME  VARCHAR2 1,020
private String Ksddcode;         //KSDDCODE  VARCHAR2 1,020
private String Ksddname;         //KSDDNAME  VARCHAR2 1,020
private Timestamp Ksrq;         //KSRQ  TIMESTAMP 0
private String Lsh;         //LSH  VARCHAR2 1,020
private String Sfzmhm;         //SFZMHM  VARCHAR2 1,020
private String Xm;         //XM  VARCHAR2 1,020
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.IKm1PreasignRecordMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">TABLE_SELF_KM1_PREASIGN_RECORD</sql>

<sql id="pk">ID</sql>

<sql id="colums">
ID,C_CREATEIP,T_CREATETIME,C_CREATOR,I_ISDELETED,C_DESCRIPTION,C_KEYWORDS,C_MODIFIER,C_MODIFYIP,T_MODIFYTIME,JXDM,
JXMC,KSCCCODE,KSCCNAME,KSDDCODE,KSDDNAME,KSRQ,LSH,SFZMHM,XM 
</sql>

<sql id="insertCols">
#{Id,jdbcType=INTEGER,javaType=Integer},
#{CCreateip,jdbcType=VARCHAR,javaType=String},
#{TCreatetime,jdbcType=DATE,javaType=Date},
#{CCreator,jdbcType=VARCHAR,javaType=String},
#{IIsdeleted,jdbcType=INTEGER,javaType=Integer},
#{CDescription,jdbcType=VARCHAR,javaType=String},
#{CKeywords,jdbcType=VARCHAR,javaType=String},
#{CModifier,jdbcType=VARCHAR,javaType=String},
#{CModifyip,jdbcType=VARCHAR,javaType=String},
#{TModifytime,jdbcType=DATE,javaType=Date},
#{Jxdm,jdbcType=VARCHAR,javaType=String},
#{Jxmc,jdbcType=VARCHAR,javaType=String},
#{Kscccode,jdbcType=VARCHAR,javaType=String},
#{Ksccname,jdbcType=VARCHAR,javaType=String},
#{Ksddcode,jdbcType=VARCHAR,javaType=String},
#{Ksddname,jdbcType=VARCHAR,javaType=String},
#{Ksrq,jdbcType=TIMESTAMP,javaType=Timestamp},
#{Lsh,jdbcType=VARCHAR,javaType=String},
#{Sfzmhm,jdbcType=VARCHAR,javaType=String},
#{Xm,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">ID=#{pk}</if>,
C_CREATEIP=#{model.CCreateip,jdbcType=VARCHAR,javaType=String},
T_CREATETIME=#{model.TCreatetime,jdbcType=DATE,javaType=Date},
C_CREATOR=#{model.CCreator,jdbcType=VARCHAR,javaType=String},
I_ISDELETED=#{model.IIsdeleted,jdbcType=INTEGER,javaType=Integer},
C_DESCRIPTION=#{model.CDescription,jdbcType=VARCHAR,javaType=String},
C_KEYWORDS=#{model.CKeywords,jdbcType=VARCHAR,javaType=String},
C_MODIFIER=#{model.CModifier,jdbcType=VARCHAR,javaType=String},
C_MODIFYIP=#{model.CModifyip,jdbcType=VARCHAR,javaType=String},
T_MODIFYTIME=#{model.TModifytime,jdbcType=DATE,javaType=Date},
JXDM=#{model.Jxdm,jdbcType=VARCHAR,javaType=String},
JXMC=#{model.Jxmc,jdbcType=VARCHAR,javaType=String},
KSCCCODE=#{model.Kscccode,jdbcType=VARCHAR,javaType=String},
KSCCNAME=#{model.Ksccname,jdbcType=VARCHAR,javaType=String},
KSDDCODE=#{model.Ksddcode,jdbcType=VARCHAR,javaType=String},
KSDDNAME=#{model.Ksddname,jdbcType=VARCHAR,javaType=String},
KSRQ=#{model.Ksrq,jdbcType=TIMESTAMP,javaType=Timestamp},
LSH=#{model.Lsh,jdbcType=VARCHAR,javaType=String},
SFZMHM=#{model.Sfzmhm,jdbcType=VARCHAR,javaType=String},
XM=#{model.Xm,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.ID desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.Km1PreasignRecordModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_CREATEIP"  property="CCreateip" jdbcType="VARCHAR" javaType="String"/>
<result column="T_CREATETIME"  property="TCreatetime" jdbcType="DATE" javaType="Date"/>
<result column="C_CREATOR"  property="CCreator" jdbcType="VARCHAR" javaType="String"/>
<result column="I_ISDELETED"  property="IIsdeleted" jdbcType="INTEGER" javaType="Integer"/>
<result column="C_DESCRIPTION"  property="CDescription" jdbcType="VARCHAR" javaType="String"/>
<result column="C_KEYWORDS"  property="CKeywords" jdbcType="VARCHAR" javaType="String"/>
<result column="C_MODIFIER"  property="CModifier" jdbcType="VARCHAR" javaType="String"/>
<result column="C_MODIFYIP"  property="CModifyip" jdbcType="VARCHAR" javaType="String"/>
<result column="T_MODIFYTIME"  property="TModifytime" jdbcType="DATE" javaType="Date"/>
<result column="JXDM"  property="Jxdm" jdbcType="VARCHAR" javaType="String"/>
<result column="JXMC"  property="Jxmc" jdbcType="VARCHAR" javaType="String"/>
<result column="KSCCCODE"  property="Kscccode" jdbcType="VARCHAR" javaType="String"/>
<result column="KSCCNAME"  property="Ksccname" jdbcType="VARCHAR" javaType="String"/>
<result column="KSDDCODE"  property="Ksddcode" jdbcType="VARCHAR" javaType="String"/>
<result column="KSDDNAME"  property="Ksddname" jdbcType="VARCHAR" javaType="String"/>
<result column="KSRQ"  property="Ksrq" jdbcType="TIMESTAMP" javaType="Timestamp"/>
<result column="LSH"  property="Lsh" jdbcType="VARCHAR" javaType="String"/>
<result column="SFZMHM"  property="Sfzmhm" jdbcType="VARCHAR" javaType="String"/>
<result column="XM"  property="Xm" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CCreateip neq null">and m.C_CREATEIP like #{model.CCreateip,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.TCreatetime neq null">and to_char(m.T_CREATETIME,'YYYY-MM-DD') = to_char(#{model.TCreatetime,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.CCreator neq null">and m.C_CREATOR like #{model.CCreator,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.IIsdeleted neq null">and m.I_ISDELETED = #{model.IIsdeleted,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.CDescription neq null">and m.C_DESCRIPTION like #{model.CDescription,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CKeywords neq null">and m.C_KEYWORDS like #{model.CKeywords,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CModifier neq null">and m.C_MODIFIER like #{model.CModifier,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CModifyip neq null">and m.C_MODIFYIP like #{model.CModifyip,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.TModifytime neq null">and to_char(m.T_MODIFYTIME,'YYYY-MM-DD') = to_char(#{model.TModifytime,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Jxdm neq null">and m.JXDM like #{model.Jxdm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Jxmc neq null">and m.JXMC like #{model.Jxmc,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Kscccode neq null">and m.KSCCCODE like #{model.Kscccode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Ksccname neq null">and m.KSCCNAME like #{model.Ksccname,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Ksddcode neq null">and m.KSDDCODE like #{model.Ksddcode,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Ksddname neq null">and m.KSDDNAME like #{model.Ksddname,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Ksrq neq null">and to_char(m.KSRQ,'YYYY-MM-DD') = to_char(#{model.Ksrq,jdbcType=TIMESTAMP javaType=Timestamp },'YYYY-MM-DD') </if> 
<if test="model.Lsh neq null">and m.LSH like #{model.Lsh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Sfzmhm neq null">and m.SFZMHM like #{model.Sfzmhm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Xm neq null">and m.XM like #{model.Xm,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Id,jdbcType=INTEGER,javaType=Integer}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Id,jdbcType=INTEGER,javaType=Integer}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.self.Km1PreasignRecordModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Id,jdbcType=INTEGER,javaType=Integer}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>