<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartken.drv.mapper.self.IPicMapper">

<select id="getPic" resultMap="rm">
  select * from pic where id='1'
</select>

<insert id="savePic">
  insert into pic (id,pic) values (#{id},#{pic})
</insert>


<resultMap type="com.smartken.drv.model.self.PicModel" id="rm">
  <result column="id" property="id"/>
  <result column="pic" property="pic" javaType="" jdbcType="blob" />
</resultMap>

</mapper>