<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.ITransactDriverMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">SELF_TRANSACT_DRIVER</sql>

<sql id="pk">FLOW_NO</sql>

<sql id="colums">
TRANSACT,APPLICAT,DRIVER_ID_NO,AGENT_ID_NO,DRIVER_ID_NAME,AGENT_ID_NAME,CREATE_DATE,VERIFY_DATE,VERIFY_IND,TEL,VERIFYER_FK,
REMARK,PAYMENT,RECEIVE,FLOW_NO,PHONE,REASON,PAY_IND,PRINT_IND,LICENSE_NO,ITEM,
COST_POST,COST_TRANSACT,PASS_IND,SEQNO 
</sql>

<sql id="insertCols">
#{transact,jdbcType=VARCHAR,javaType=String},
#{applicat,jdbcType=VARCHAR,javaType=String},
#{driverIdNo,jdbcType=VARCHAR,javaType=String},
#{agentIdNo,jdbcType=VARCHAR,javaType=String},
#{driverIdName,jdbcType=VARCHAR,javaType=String},
#{agentIdName,jdbcType=VARCHAR,javaType=String},
#{createDate,jdbcType=DATE,javaType=Date},
#{verifyDate,jdbcType=DATE,javaType=Date},
#{verifyInd,jdbcType=VARCHAR,javaType=String},
#{tel,jdbcType=VARCHAR,javaType=String},
#{verifyerFk,jdbcType=VARCHAR,javaType=String},
#{remark,jdbcType=VARCHAR,javaType=String},
#{payment,jdbcType=VARCHAR,javaType=String},
#{receive,jdbcType=VARCHAR,javaType=String},
#{flowNo,jdbcType=VARCHAR,javaType=String},
#{phone,jdbcType=VARCHAR,javaType=String},
#{reason,jdbcType=VARCHAR,javaType=String},
#{payInd,jdbcType=VARCHAR,javaType=String},
#{printInd,jdbcType=VARCHAR,javaType=String},
#{licenseNo,jdbcType=VARCHAR,javaType=String},
#{item,jdbcType=VARCHAR,javaType=String},
#{costPost,jdbcType=FLOAT,javaType=Double},
#{costTransact,jdbcType=FLOAT,javaType=Double},
#{passInd,jdbcType=VARCHAR,javaType=String},
#{seqno,jdbcType=INTEGER,javaType=Integer} 
</sql>

<sql id="updateCols">
 TRANSACT=#{model.transact,jdbcType=VARCHAR,javaType=String},
APPLICAT=#{model.applicat,jdbcType=VARCHAR,javaType=String},
DRIVER_ID_NO=#{model.driverIdNo,jdbcType=VARCHAR,javaType=String},
AGENT_ID_NO=#{model.agentIdNo,jdbcType=VARCHAR,javaType=String},
DRIVER_ID_NAME=#{model.driverIdName,jdbcType=VARCHAR,javaType=String},
AGENT_ID_NAME=#{model.agentIdName,jdbcType=VARCHAR,javaType=String},
CREATE_DATE=#{model.createDate,jdbcType=DATE,javaType=Date},
VERIFY_DATE=#{model.verifyDate,jdbcType=DATE,javaType=Date},
VERIFY_IND=#{model.verifyInd,jdbcType=VARCHAR,javaType=String},
TEL=#{model.tel,jdbcType=VARCHAR,javaType=String},
VERIFYER_FK=#{model.verifyerFk,jdbcType=VARCHAR,javaType=String},
REMARK=#{model.remark,jdbcType=VARCHAR,javaType=String},
PAYMENT=#{model.payment,jdbcType=VARCHAR,javaType=String},
RECEIVE=#{model.receive,jdbcType=VARCHAR,javaType=String},
<if test="pk neq null">FLOW_NO=#{pk},</if>
PHONE=#{model.phone,jdbcType=VARCHAR,javaType=String},
REASON=#{model.reason,jdbcType=VARCHAR,javaType=String},
PAY_IND=#{model.payInd,jdbcType=VARCHAR,javaType=String},
PRINT_IND=#{model.printInd,jdbcType=VARCHAR,javaType=String},
LICENSE_NO=#{model.licenseNo,jdbcType=VARCHAR,javaType=String},
ITEM=#{model.item,jdbcType=VARCHAR,javaType=String},
COST_POST=#{model.costPost,jdbcType=FLOAT,javaType=Double},
COST_TRANSACT=#{model.costTransact,jdbcType=FLOAT,javaType=Double},
PASS_IND=#{model.passInd,jdbcType=VARCHAR,javaType=String},
SEQNO=#{model.seqno,jdbcType=INTEGER,javaType=Integer}
</sql>

<sql id="orderby">order by FLOW_NO</sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.TransactDriverModel" id="resultMap">
<id column="FLOW_NO"  property="flowNo" jdbcType="VARCHAR" javaType="String"/>
 <result column="TRANSACT"  property="transact" jdbcType="VARCHAR" javaType="String"/>
<result column="APPLICAT"  property="applicat" jdbcType="VARCHAR" javaType="String"/>
<result column="DRIVER_ID_NO"  property="driverIdNo" jdbcType="VARCHAR" javaType="String"/>
<result column="AGENT_ID_NO"  property="agentIdNo" jdbcType="VARCHAR" javaType="String"/>
<result column="DRIVER_ID_NAME"  property="driverIdName" jdbcType="VARCHAR" javaType="String"/>
<result column="AGENT_ID_NAME"  property="agentIdName" jdbcType="VARCHAR" javaType="String"/>
<result column="CREATE_DATE"  property="createDate" jdbcType="DATE" javaType="Date"/>
<result column="VERIFY_DATE"  property="verifyDate" jdbcType="DATE" javaType="Date"/>
<result column="VERIFY_IND"  property="verifyInd" jdbcType="VARCHAR" javaType="String"/>
<result column="TEL"  property="tel" jdbcType="VARCHAR" javaType="String"/>
<result column="VERIFYER_FK"  property="verifyerFk" jdbcType="VARCHAR" javaType="String"/>
<result column="REMARK"  property="remark" jdbcType="VARCHAR" javaType="String"/>
<result column="PAYMENT"  property="payment" jdbcType="VARCHAR" javaType="String"/>
<result column="RECEIVE"  property="receive" jdbcType="VARCHAR" javaType="String"/>
<result column="PHONE"  property="phone" jdbcType="VARCHAR" javaType="String"/>
<result column="REASON"  property="reason" jdbcType="VARCHAR" javaType="String"/>
<result column="PAY_IND"  property="payInd" jdbcType="VARCHAR" javaType="String"/>
<result column="PRINT_IND"  property="printInd" jdbcType="VARCHAR" javaType="String"/>
<result column="LICENSE_NO"  property="licenseNo" jdbcType="VARCHAR" javaType="String"/>
<result column="ITEM"  property="item" jdbcType="VARCHAR" javaType="String"/>
<result column="COST_POST"  property="costPost" jdbcType="FLOAT" javaType="Double"/>
<result column="COST_TRANSACT"  property="costTransact" jdbcType="FLOAT" javaType="Double"/>
<result column="PASS_IND"  property="passInd" jdbcType="VARCHAR" javaType="String"/>
<result column="SEQNO"  property="seqno" jdbcType="INTEGER" javaType="Integer"/>
 </resultMap>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
<trim prefix="where" prefixOverrides="and">
<if test="model.transact neq null">and m.TRANSACT=#{model.transact,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.applicat neq null">and m.APPLICAT=#{model.applicat,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.driverIdNo neq null">and m.DRIVER_ID_NO=#{model.driverIdNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.agentIdNo neq null">and m.AGENT_ID_NO=#{model.agentIdNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.driverIdName neq null">and m.DRIVER_ID_NAME=#{model.driverIdName,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.agentIdName neq null">and m.AGENT_ID_NAME=#{model.agentIdName,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.createDate neq null">and to_char(m.CREATE_DATE,'YYYY-MM-DD')= to_char(#{model.createDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.verifyDate neq null">and to_char(m.VERIFY_DATE,'YYYY-MM-DD')= to_char(#{model.verifyDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.verifyInd neq null">and m.VERIFY_IND=#{model.verifyInd,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.tel neq null">and m.TEL=#{model.tel,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.verifyerFk neq null">and m.VERIFYER_FK=#{model.verifyerFk,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.remark neq null">and m.REMARK=#{model.remark,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.payment neq null">and m.PAYMENT=#{model.payment,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.receive neq null">and m.RECEIVE=#{model.receive,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.flowNo neq null">and m.FLOW_NO=#{model.flowNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.phone neq null">and m.PHONE=#{model.phone,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.reason neq null">and m.REASON=#{model.reason,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.payInd neq null">and m.PAY_IND=#{model.payInd,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.printInd neq null">and m.PRINT_IND=#{model.printInd,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.licenseNo neq null">and m.LICENSE_NO=#{model.licenseNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.item neq null">and m.ITEM=#{model.item,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.costPost neq null">and m.COST_POST=#{model.costPost,jdbcType=FLOAT javaType=Double } </if> 
<if test="model.costTransact neq null">and m.COST_TRANSACT=#{model.costTransact,jdbcType=FLOAT javaType=Double } </if> 
<if test="model.passInd neq null">and m.PASS_IND=#{model.passInd,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.seqno neq null">and m.SEQNO=#{model.seqno,jdbcType=INTEGER javaType=Integer } </if> 
</trim>
</select>
<select id="selectEqPk" parameterType="String"  resultMap="resultMap">
	 select <include refid="colums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{flowNo,jdbcType=VARCHAR,javaType=String}
</select>

<select id="count" resultType="int">
	 select count(*) from <include refid="table"/>
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/> 
 <include refid="orderby"/>
</select>

<insert id="insertOne" >
	 insert into <include refid="table"/> ( <include refid="colums"/> ) values ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true" >
	 update <include refid="table"/> set <include refid="updateCols"/> where <include refid="pk" />=#{model.flowNo,jdbcType=VARCHAR,javaType=String}
</update>

<delete id="deleteInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



</mapper>