<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-25 04:55:48
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.self.TransactDriverModel 


 public static enum F { 
  Id,Transact,Applicat,DriverIdNo,AgentIdNo,DriverIdName,AgentIdName,CreateDate,VerifyDate,VerifyInd,Tel,
VerifyerFk,Remark,Payment,Receive,FlowNo,Phone,Reason,PayInd,PrintInd,LicenseNo  
 } 

private Integer Id;         //ID  NUMBER 38
private String Transact;         //TRANSACT  VARCHAR2 50
private String Applicat;         //APPLICAT  VARCHAR2 100
private String DriverIdNo;         //DRIVER_ID_NO  VARCHAR2 20
private String AgentIdNo;         //AGENT_ID_NO  VARCHAR2 20
private String DriverIdName;         //DRIVER_ID_NAME  VARCHAR2 20
private String AgentIdName;         //AGENT_ID_NAME  VARCHAR2 20
private Date CreateDate;         //CREATE_DATE  DATE 0
private Date VerifyDate;         //VERIFY_DATE  DATE 0
private String VerifyInd;         //VERIFY_IND  CHAR 1
private String Tel;         //TEL  VARCHAR2 30
private String VerifyerFk;         //VERIFYER_FK  VARCHAR2 30
private String Remark;         //REMARK  VARCHAR2 300
private String Payment;         //PAYMENT  VARCHAR2 10
private String Receive;         //RECEIVE  VARCHAR2 20
private String FlowNo;         //FLOW_NO  VARCHAR2 100
private String Phone;         //PHONE  VARCHAR2 30
private String Reason;         //REASON  VARCHAR2 50
private String PayInd;         //PAY_IND  CHAR 1
private String PrintInd;         //PRINT_IND  CHAR 1
private String LicenseNo;         //LICENSE_NO  VARCHAR2 100
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.ITransactDriverMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">SELF_TRANSACT_DRIVER</sql>

<sql id="pk">FLOW_NO</sql>

<sql id="colums">
ID,TRANSACT,APPLICAT,DRIVER_ID_NO,AGENT_ID_NO,DRIVER_ID_NAME,AGENT_ID_NAME,CREATE_DATE,VERIFY_DATE,VERIFY_IND,TEL,
VERIFYER_FK,REMARK,PAYMENT,RECEIVE,FLOW_NO,PHONE,REASON,PAY_IND,PRINT_IND,LICENSE_NO 
</sql>

<sql id="insertCols">
#{Id,jdbcType=INTEGER,javaType=Integer},
#{Transact,jdbcType=VARCHAR,javaType=String},
#{Applicat,jdbcType=VARCHAR,javaType=String},
#{DriverIdNo,jdbcType=VARCHAR,javaType=String},
#{AgentIdNo,jdbcType=VARCHAR,javaType=String},
#{DriverIdName,jdbcType=VARCHAR,javaType=String},
#{AgentIdName,jdbcType=VARCHAR,javaType=String},
#{CreateDate,jdbcType=DATE,javaType=Date},
#{VerifyDate,jdbcType=DATE,javaType=Date},
#{VerifyInd,jdbcType=CHAR,javaType=String},
#{Tel,jdbcType=VARCHAR,javaType=String},
#{VerifyerFk,jdbcType=VARCHAR,javaType=String},
#{Remark,jdbcType=VARCHAR,javaType=String},
#{Payment,jdbcType=VARCHAR,javaType=String},
#{Receive,jdbcType=VARCHAR,javaType=String},
seq_self_transact_driver.nextval,
#{Phone,jdbcType=VARCHAR,javaType=String},
#{Reason,jdbcType=VARCHAR,javaType=String},
#{PayInd,jdbcType=CHAR,javaType=String},
#{PrintInd,jdbcType=CHAR,javaType=String},
#{LicenseNo,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
ID=#{Id,jdbcType=INTEGER,javaType=Integer},
TRANSACT=#{Transact,jdbcType=VARCHAR,javaType=String},
APPLICAT=#{Applicat,jdbcType=VARCHAR,javaType=String},
DRIVER_ID_NO=#{DriverIdNo,jdbcType=VARCHAR,javaType=String},
AGENT_ID_NO=#{AgentIdNo,jdbcType=VARCHAR,javaType=String},
DRIVER_ID_NAME=#{DriverIdName,jdbcType=VARCHAR,javaType=String},
AGENT_ID_NAME=#{AgentIdName,jdbcType=VARCHAR,javaType=String},
CREATE_DATE=#{CreateDate,jdbcType=DATE,javaType=Date},
VERIFY_DATE=#{VerifyDate,jdbcType=DATE,javaType=Date},
VERIFY_IND=#{VerifyInd,jdbcType=CHAR,javaType=String},
TEL=#{Tel,jdbcType=VARCHAR,javaType=String},
VERIFYER_FK=#{VerifyerFk,jdbcType=VARCHAR,javaType=String},
REMARK=#{Remark,jdbcType=VARCHAR,javaType=String},
PAYMENT=#{Payment,jdbcType=VARCHAR,javaType=String},
RECEIVE=#{Receive,jdbcType=VARCHAR,javaType=String},
<if test="pk neq null">FLOW_NO=#{pk}</if>,
PHONE=#{Phone,jdbcType=VARCHAR,javaType=String},
REASON=#{Reason,jdbcType=VARCHAR,javaType=String},
PAY_IND=#{PayInd,jdbcType=CHAR,javaType=String},
PRINT_IND=#{PrintInd,jdbcType=CHAR,javaType=String},
LICENSE_NO=#{LicenseNo,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.FLOW_NO desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.TransactDriverModel" id="resultMap">
 <id column="FLOW_NO"  property="FlowNo" jdbcType="VARCHAR" javaType="String"/>
<result column="ID"  property="Id" jdbcType="INTEGER" javaType="Integer"/>
<result column="TRANSACT"  property="Transact" jdbcType="VARCHAR" javaType="String"/>
<result column="APPLICAT"  property="Applicat" jdbcType="VARCHAR" javaType="String"/>
<result column="DRIVER_ID_NO"  property="DriverIdNo" jdbcType="VARCHAR" javaType="String"/>
<result column="AGENT_ID_NO"  property="AgentIdNo" jdbcType="VARCHAR" javaType="String"/>
<result column="DRIVER_ID_NAME"  property="DriverIdName" jdbcType="VARCHAR" javaType="String"/>
<result column="AGENT_ID_NAME"  property="AgentIdName" jdbcType="VARCHAR" javaType="String"/>
<result column="CREATE_DATE"  property="CreateDate" jdbcType="DATE" javaType="Date"/>
<result column="VERIFY_DATE"  property="VerifyDate" jdbcType="DATE" javaType="Date"/>
<result column="VERIFY_IND"  property="VerifyInd" jdbcType="CHAR" javaType="String"/>
<result column="TEL"  property="Tel" jdbcType="VARCHAR" javaType="String"/>
<result column="VERIFYER_FK"  property="VerifyerFk" jdbcType="VARCHAR" javaType="String"/>
<result column="REMARK"  property="Remark" jdbcType="VARCHAR" javaType="String"/>
<result column="PAYMENT"  property="Payment" jdbcType="VARCHAR" javaType="String"/>
<result column="RECEIVE"  property="Receive" jdbcType="VARCHAR" javaType="String"/>
<result column="PHONE"  property="Phone" jdbcType="VARCHAR" javaType="String"/>
<result column="REASON"  property="Reason" jdbcType="VARCHAR" javaType="String"/>
<result column="PAY_IND"  property="PayInd" jdbcType="CHAR" javaType="String"/>
<result column="PRINT_IND"  property="PrintInd" jdbcType="CHAR" javaType="String"/>
<result column="LICENSE_NO"  property="LicenseNo" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Id neq null">and m.ID = #{model.Id,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Transact neq null">and m.TRANSACT like #{model.Transact,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Applicat neq null">and m.APPLICAT like #{model.Applicat,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.DriverIdNo neq null">and m.DRIVER_ID_NO like #{model.DriverIdNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.AgentIdNo neq null">and m.AGENT_ID_NO like #{model.AgentIdNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.DriverIdName neq null">and m.DRIVER_ID_NAME like #{model.DriverIdName,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.AgentIdName neq null">and m.AGENT_ID_NAME like #{model.AgentIdName,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.CreateDate neq null">and to_char(m.CREATE_DATE,'YYYY-MM-DD') = to_char(#{model.CreateDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.VerifyDate neq null">and to_char(m.VERIFY_DATE,'YYYY-MM-DD') = to_char(#{model.VerifyDate,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.VerifyInd neq null">and m.VERIFY_IND like #{model.VerifyInd,jdbcType=CHAR javaType=String } </if> 
<if test="model.Tel neq null">and m.TEL like #{model.Tel,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.VerifyerFk neq null">and m.VERIFYER_FK like #{model.VerifyerFk,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Remark neq null">and m.REMARK like #{model.Remark,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Payment neq null">and m.PAYMENT like #{model.Payment,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Receive neq null">and m.RECEIVE like #{model.Receive,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.FlowNo neq null">and m.FLOW_NO like #{model.FlowNo,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Phone neq null">and m.PHONE like #{model.Phone,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Reason neq null">and m.REASON like #{model.Reason,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.PayInd neq null">and m.PAY_IND like #{model.PayInd,jdbcType=CHAR javaType=String } </if> 
<if test="model.PrintInd neq null">and m.PRINT_IND like #{model.PrintInd,jdbcType=CHAR javaType=String } </if> 
<if test="model.LicenseNo neq null">and m.LICENSE_NO like #{model.LicenseNo,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{FlowNo,jdbcType=VARCHAR,javaType=String}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.FlowNo,jdbcType=VARCHAR,javaType=String}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{FlowNo,jdbcType=VARCHAR,javaType=String}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.self.TransactDriverModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{FlowNo,jdbcType=VARCHAR,javaType=String}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>