<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.IVehFlowMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">DRV_ADMIN.VEH_FLOW</sql>

<sql id="pk">LSH</sql>

<sql id="colums">
LSH,XH,YWLX,YWYY,SYR,CLSBDH,HPZL,HPHM,CLPP1,CLXH,CLLX,
XZQH,SQRQ,BJRQ,XYGW,YWLC,LSZT,GLBM,FPBJ,FFBJ,RKBJ 
</sql>

<sql id="insertCols">
#{lsh,jdbcType=VARCHAR,javaType=String},
#{xh,jdbcType=VARCHAR,javaType=String},
#{ywlx,jdbcType=VARCHAR,javaType=String},
#{ywyy,jdbcType=VARCHAR,javaType=String},
#{syr,jdbcType=VARCHAR,javaType=String},
#{clsbdh,jdbcType=VARCHAR,javaType=String},
#{hpzl,jdbcType=VARCHAR,javaType=String},
#{hphm,jdbcType=VARCHAR,javaType=String},
#{clpp1,jdbcType=VARCHAR,javaType=String},
#{clxh,jdbcType=VARCHAR,javaType=String},
#{cllx,jdbcType=VARCHAR,javaType=String},
#{xzqh,jdbcType=VARCHAR,javaType=String},
#{sqrq,jdbcType=DATE,javaType=Date},
#{bjrq,jdbcType=DATE,javaType=Date},
#{xygw,jdbcType=VARCHAR,javaType=String},
#{ywlc,jdbcType=VARCHAR,javaType=String},
#{lszt,jdbcType=VARCHAR,javaType=String},
#{glbm,jdbcType=VARCHAR,javaType=String},
#{fpbj,jdbcType=VARCHAR,javaType=String},
#{ffbj,jdbcType=VARCHAR,javaType=String},
#{rkbj,jdbcType=VARCHAR,javaType=String} 
</sql>

<sql id="updateCols">
 <if test="pk neq null">LSH=#{pk},</if>
XH=#{model.xh,jdbcType=VARCHAR,javaType=String},
YWLX=#{model.ywlx,jdbcType=VARCHAR,javaType=String},
YWYY=#{model.ywyy,jdbcType=VARCHAR,javaType=String},
SYR=#{model.syr,jdbcType=VARCHAR,javaType=String},
CLSBDH=#{model.clsbdh,jdbcType=VARCHAR,javaType=String},
HPZL=#{model.hpzl,jdbcType=VARCHAR,javaType=String},
HPHM=#{model.hphm,jdbcType=VARCHAR,javaType=String},
CLPP1=#{model.clpp1,jdbcType=VARCHAR,javaType=String},
CLXH=#{model.clxh,jdbcType=VARCHAR,javaType=String},
CLLX=#{model.cllx,jdbcType=VARCHAR,javaType=String},
XZQH=#{model.xzqh,jdbcType=VARCHAR,javaType=String},
SQRQ=#{model.sqrq,jdbcType=DATE,javaType=Date},
BJRQ=#{model.bjrq,jdbcType=DATE,javaType=Date},
XYGW=#{model.xygw,jdbcType=VARCHAR,javaType=String},
YWLC=#{model.ywlc,jdbcType=VARCHAR,javaType=String},
LSZT=#{model.lszt,jdbcType=VARCHAR,javaType=String},
GLBM=#{model.glbm,jdbcType=VARCHAR,javaType=String},
FPBJ=#{model.fpbj,jdbcType=VARCHAR,javaType=String},
FFBJ=#{model.ffbj,jdbcType=VARCHAR,javaType=String},
RKBJ=#{model.rkbj,jdbcType=VARCHAR,javaType=String}
</sql>

<sql id="orderby">order by LSH</sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.VehFlowModel" id="resultMap">
 <id column="LSH"  property="lsh" jdbcType="VARCHAR" javaType="String"/>
<result column="XH"  property="xh" jdbcType="VARCHAR" javaType="String"/>
<result column="YWLX"  property="ywlx" jdbcType="VARCHAR" javaType="String"/>
<result column="YWYY"  property="ywyy" jdbcType="VARCHAR" javaType="String"/>
<result column="SYR"  property="syr" jdbcType="VARCHAR" javaType="String"/>
<result column="CLSBDH"  property="clsbdh" jdbcType="VARCHAR" javaType="String"/>
<result column="HPZL"  property="hpzl" jdbcType="VARCHAR" javaType="String"/>
<result column="HPHM"  property="hphm" jdbcType="VARCHAR" javaType="String"/>
<result column="CLPP1"  property="clpp1" jdbcType="VARCHAR" javaType="String"/>
<result column="CLXH"  property="clxh" jdbcType="VARCHAR" javaType="String"/>
<result column="CLLX"  property="cllx" jdbcType="VARCHAR" javaType="String"/>
<result column="XZQH"  property="xzqh" jdbcType="VARCHAR" javaType="String"/>
<result column="SQRQ"  property="sqrq" jdbcType="DATE" javaType="Date"/>
<result column="BJRQ"  property="bjrq" jdbcType="DATE" javaType="Date"/>
<result column="XYGW"  property="xygw" jdbcType="VARCHAR" javaType="String"/>
<result column="YWLC"  property="ywlc" jdbcType="VARCHAR" javaType="String"/>
<result column="LSZT"  property="lszt" jdbcType="VARCHAR" javaType="String"/>
<result column="GLBM"  property="glbm" jdbcType="VARCHAR" javaType="String"/>
<result column="FPBJ"  property="fpbj" jdbcType="VARCHAR" javaType="String"/>
<result column="FFBJ"  property="ffbj" jdbcType="VARCHAR" javaType="String"/>
<result column="RKBJ"  property="rkbj" jdbcType="VARCHAR" javaType="String"/>
 </resultMap>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
<trim prefix="where" prefixOverrides="and">
<if test="model.lsh neq null">and m.LSH=#{model.lsh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.xh neq null">and m.XH=#{model.xh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ywlx neq null">and m.YWLX=#{model.ywlx,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ywyy neq null">and m.YWYY=#{model.ywyy,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.syr neq null">and m.SYR=#{model.syr,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.clsbdh neq null">and m.CLSBDH=#{model.clsbdh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.hpzl neq null">and m.HPZL=#{model.hpzl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.hphm neq null">and m.HPHM=#{model.hphm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.clpp1 neq null">and m.CLPP1=#{model.clpp1,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.clxh neq null">and m.CLXH=#{model.clxh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.cllx neq null">and m.CLLX=#{model.cllx,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.xzqh neq null">and m.XZQH=#{model.xzqh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.sqrq neq null">and m.SQRQ=#{model.sqrq,jdbcType=DATE javaType=Date } </if> 
<if test="model.bjrq neq null">and m.BJRQ=#{model.bjrq,jdbcType=DATE javaType=Date } </if> 
<if test="model.xygw neq null">and m.XYGW=#{model.xygw,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ywlc neq null">and m.YWLC=#{model.ywlc,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.lszt neq null">and m.LSZT=#{model.lszt,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.glbm neq null">and m.GLBM=#{model.glbm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.fpbj neq null">and m.FPBJ=#{model.fpbj,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.ffbj neq null">and m.FFBJ=#{model.ffbj,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.rkbj neq null">and m.RKBJ=#{model.rkbj,jdbcType=VARCHAR javaType=String } </if> 
</trim>
</select>
<select id="selectEqPk" parameterType="String"  resultMap="resultMap">
	 select <include refid="colums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{lsh,jdbcType=VARCHAR,javaType=String}
</select>

<select id="count" resultType="int">
	 select count(*) from <include refid="table"/>
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	 select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach> 
<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	 select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/> 
 <include refid="orderby"/>
</select>

<insert id="insertOne" >
	 insert into <include refid="table"/> ( <include refid="colums"/> ) values ( <include refid="insertCols"/>) 
</insert>

<update id="updateOne" flushCache="true" >
	 update <include refid="table"/> set <include refid="updateCols"/> where <include refid="pk" />=#{model.lsh,jdbcType=VARCHAR,javaType=String}
</update>

<delete id="deleteInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	 delete from <include refid="table"/> where <include refid="pk" /> not in
<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



</mapper>