<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2011-05-26 11:08:05
	MapperTemplate:com.smartken.kia.core.plugin.mybatis.OracleMapperTemplate
	Model:com.ett.drv.model.self.VehicleModel 


 public static enum F { 
  Xh,Hpzl,Hphm,Clpp1,Clxh,Clpp2,Gcjk,Zzg,Zzcmc,Clsbdh,Fdjh,
Cllx,Csys,Syxz,Sfzmhm,Sfzmmc,Syr,Zsxzqh,Zsxxdz,Yzbm1,Lxdh,
Zzz,Zzxzqh,Zzxxdz,Yzbm2,Syq,Ccdjrq,Djrq,Yxqz,Qzbfqz,Fzjg,
Glbm,Fprq,Fzrq,Fdjrq,Fhgzrq,Bxzzrq,Bpcs,Bzcs,Bdjcs,Djzsbh,
Zdjzshs,Dabh,Xzqh,Zt,Zdyzt,Dybj,Jbr,Clly,Lsh,Fdjxh,
Rlzl,Pl,Gl,Zxxs,Cwkc,Cwkk,Cwkg,Hxnbcd,Hxnbkd,Hxnbgd,
Gbthps,Zs,Zj,Qlj,Hlj,Ltgg,Lts,Zzl,Zbzl,Hdzzl,
Hdzk,Zqyzl,Qpzk,Hpzk,Hbdbqk,Ccrq,Hdfs,Llpz1,Pzbh1,Llpz2,
Pzbh2,Xsdw,Xsjg,Xsrq,Jkpz,Jkpzhm,Hgzbh,Nszm,Nszmbh,Gxrq,
Xgzl,Qmbh,Hmbh,Bz,Jyw,Yxh  
 } 

private String Xh;         //XH  CHAR 14
private String Hpzl;         //HPZL  VARCHAR2 10
private String Hphm;         //HPHM  VARCHAR2 15
private String Clpp1;         //CLPP1  VARCHAR2 32
private String Clxh;         //CLXH  VARCHAR2 32
private String Clpp2;         //CLPP2  VARCHAR2 32
private String Gcjk;         //GCJK  CHAR 1
private String Zzg;         //ZZG  CHAR 3
private String Zzcmc;         //ZZCMC  VARCHAR2 84
private String Clsbdh;         //CLSBDH  VARCHAR2 25
private String Fdjh;         //FDJH  VARCHAR2 30
private String Cllx;         //CLLX  CHAR 3
private String Csys;         //CSYS  VARCHAR2 5
private String Syxz;         //SYXZ  CHAR 1
private String Sfzmhm;         //SFZMHM  VARCHAR2 18
private String Sfzmmc;         //SFZMMC  CHAR 1
private String Syr;         //SYR  VARCHAR2 128
private String Zsxzqh;         //ZSXZQH  VARCHAR2 10
private String Zsxxdz;         //ZSXXDZ  VARCHAR2 128
private String Yzbm1;         //YZBM1  CHAR 6
private String Lxdh;         //LXDH  VARCHAR2 20
private String Zzz;         //ZZZ  VARCHAR2 18
private String Zzxzqh;         //ZZXZQH  VARCHAR2 10
private String Zzxxdz;         //ZZXXDZ  VARCHAR2 128
private String Yzbm2;         //YZBM2  CHAR 6
private String Syq;         //SYQ  CHAR 1
private Date Ccdjrq;         //CCDJRQ  DATE 0
private Date Djrq;         //DJRQ  DATE 0
private Date Yxqz;         //YXQZ  DATE 0
private Date Qzbfqz;         //QZBFQZ  DATE 0
private String Fzjg;         //FZJG  VARCHAR2 10
private String Glbm;         //GLBM  VARCHAR2 10
private Date Fprq;         //FPRQ  DATE 0
private Date Fzrq;         //FZRQ  DATE 0
private Date Fdjrq;         //FDJRQ  DATE 0
private Date Fhgzrq;         //FHGZRQ  DATE 0
private Date Bxzzrq;         //BXZZRQ  DATE 0
private Integer Bpcs;         //BPCS  NUMBER 2
private Integer Bzcs;         //BZCS  NUMBER 2
private Integer Bdjcs;         //BDJCS  NUMBER 2
private String Djzsbh;         //DJZSBH  VARCHAR2 15
private Integer Zdjzshs;         //ZDJZSHS  NUMBER 2
private String Dabh;         //DABH  VARCHAR2 12
private String Xzqh;         //XZQH  VARCHAR2 10
private String Zt;         //ZT  VARCHAR2 6
private String Zdyzt;         //ZDYZT  VARCHAR2 10
private String Dybj;         //DYBJ  CHAR 1
private String Jbr;         //JBR  VARCHAR2 30
private String Clly;         //CLLY  CHAR 1
private String Lsh;         //LSH  CHAR 11
private String Fdjxh;         //FDJXH  VARCHAR2 20
private String Rlzl;         //RLZL  VARCHAR2 3
private Integer Pl;         //PL  NUMBER 4
private Integer Gl;         //GL  NUMBER 5
private String Zxxs;         //ZXXS  CHAR 1
private Integer Cwkc;         //CWKC  NUMBER 5
private Integer Cwkk;         //CWKK  NUMBER 4
private Integer Cwkg;         //CWKG  NUMBER 4
private Integer Hxnbcd;         //HXNBCD  NUMBER 5
private Integer Hxnbkd;         //HXNBKD  NUMBER 4
private Integer Hxnbgd;         //HXNBGD  NUMBER 4
private Integer Gbthps;         //GBTHPS  NUMBER 3
private Integer Zs;         //ZS  NUMBER 1
private Integer Zj;         //ZJ  NUMBER 5
private Integer Qlj;         //QLJ  NUMBER 4
private Integer Hlj;         //HLJ  NUMBER 4
private String Ltgg;         //LTGG  VARCHAR2 20
private Integer Lts;         //LTS  NUMBER 2
private Integer Zzl;         //ZZL  NUMBER 8
private Integer Zbzl;         //ZBZL  NUMBER 8
private Integer Hdzzl;         //HDZZL  NUMBER 8
private Integer Hdzk;         //HDZK  NUMBER 3
private Integer Zqyzl;         //ZQYZL  NUMBER 8
private Integer Qpzk;         //QPZK  NUMBER 1
private Integer Hpzk;         //HPZK  NUMBER 1
private String Hbdbqk;         //HBDBQK  VARCHAR2 60
private Date Ccrq;         //CCRQ  DATE 0
private String Hdfs;         //HDFS  CHAR 1
private String Llpz1;         //LLPZ1  CHAR 1
private String Pzbh1;         //PZBH1  VARCHAR2 20
private String Llpz2;         //LLPZ2  CHAR 1
private String Pzbh2;         //PZBH2  VARCHAR2 20
private String Xsdw;         //XSDW  VARCHAR2 64
private Integer Xsjg;         //XSJG  NUMBER 8
private Date Xsrq;         //XSRQ  DATE 0
private String Jkpz;         //JKPZ  CHAR 1
private String Jkpzhm;         //JKPZHM  VARCHAR2 20
private String Hgzbh;         //HGZBH  VARCHAR2 20
private String Nszm;         //NSZM  CHAR 1
private String Nszmbh;         //NSZMBH  VARCHAR2 20
private Date Gxrq;         //GXRQ  DATE 0
private String Xgzl;         //XGZL  VARCHAR2 20
private String Qmbh;         //QMBH  VARCHAR2 15
private String Hmbh;         //HMBH  VARCHAR2 15
private String Bz;         //BZ  VARCHAR2 128
private String Jyw;         //JYW  VARCHAR2 32
private String Yxh;         //YXH  VARCHAR2 14
 -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.drv.mapper.self.IVehicleMapper">

<cache flushInterval="30000" readOnly="true"></cache>


<sql id="table">VEHICLE</sql>

<sql id="pk">XH</sql>

<sql id="colums">
XH,HPZL,HPHM,CLPP1,CLXH,CLPP2,GCJK,ZZG,ZZCMC,CLSBDH,FDJH,
CLLX,CSYS,SYXZ,SFZMHM,SFZMMC,SYR,ZSXZQH,ZSXXDZ,YZBM1,LXDH,
ZZZ,ZZXZQH,ZZXXDZ,YZBM2,SYQ,CCDJRQ,DJRQ,YXQZ,QZBFQZ,FZJG,
GLBM,FPRQ,FZRQ,FDJRQ,FHGZRQ,BXZZRQ,BPCS,BZCS,BDJCS,DJZSBH,
ZDJZSHS,DABH,XZQH,ZT,ZDYZT,DYBJ,JBR,CLLY,LSH,FDJXH,
RLZL,PL,GL,ZXXS,CWKC,CWKK,CWKG,HXNBCD,HXNBKD,HXNBGD,
GBTHPS,ZS,ZJ,QLJ,HLJ,LTGG,LTS,ZZL,ZBZL,HDZZL,
HDZK,ZQYZL,QPZK,HPZK,HBDBQK,CCRQ,HDFS,LLPZ1,PZBH1,LLPZ2,
PZBH2,XSDW,XSJG,XSRQ,JKPZ,JKPZHM,HGZBH,NSZM,NSZMBH,GXRQ,
XGZL,QMBH,HMBH,BZ,JYW,YXH 
</sql>

<sql id="insertCols">
#{Xh,jdbcType=CHAR,javaType=String},
#{Hpzl,jdbcType=VARCHAR,javaType=String},
#{Hphm,jdbcType=VARCHAR,javaType=String},
#{Clpp1,jdbcType=VARCHAR,javaType=String},
#{Clxh,jdbcType=VARCHAR,javaType=String},
#{Clpp2,jdbcType=VARCHAR,javaType=String},
#{Gcjk,jdbcType=CHAR,javaType=String},
#{Zzg,jdbcType=CHAR,javaType=String},
#{Zzcmc,jdbcType=VARCHAR,javaType=String},
#{Clsbdh,jdbcType=VARCHAR,javaType=String},
#{Fdjh,jdbcType=VARCHAR,javaType=String},
#{Cllx,jdbcType=CHAR,javaType=String},
#{Csys,jdbcType=VARCHAR,javaType=String},
#{Syxz,jdbcType=CHAR,javaType=String},
#{Sfzmhm,jdbcType=VARCHAR,javaType=String},
#{Sfzmmc,jdbcType=CHAR,javaType=String},
#{Syr,jdbcType=VARCHAR,javaType=String},
#{Zsxzqh,jdbcType=VARCHAR,javaType=String},
#{Zsxxdz,jdbcType=VARCHAR,javaType=String},
#{Yzbm1,jdbcType=CHAR,javaType=String},
#{Lxdh,jdbcType=VARCHAR,javaType=String},
#{Zzz,jdbcType=VARCHAR,javaType=String},
#{Zzxzqh,jdbcType=VARCHAR,javaType=String},
#{Zzxxdz,jdbcType=VARCHAR,javaType=String},
#{Yzbm2,jdbcType=CHAR,javaType=String},
#{Syq,jdbcType=CHAR,javaType=String},
#{Ccdjrq,jdbcType=DATE,javaType=Date},
#{Djrq,jdbcType=DATE,javaType=Date},
#{Yxqz,jdbcType=DATE,javaType=Date},
#{Qzbfqz,jdbcType=DATE,javaType=Date},
#{Fzjg,jdbcType=VARCHAR,javaType=String},
#{Glbm,jdbcType=VARCHAR,javaType=String},
#{Fprq,jdbcType=DATE,javaType=Date},
#{Fzrq,jdbcType=DATE,javaType=Date},
#{Fdjrq,jdbcType=DATE,javaType=Date},
#{Fhgzrq,jdbcType=DATE,javaType=Date},
#{Bxzzrq,jdbcType=DATE,javaType=Date},
#{Bpcs,jdbcType=INTEGER,javaType=Integer},
#{Bzcs,jdbcType=INTEGER,javaType=Integer},
#{Bdjcs,jdbcType=INTEGER,javaType=Integer},
#{Djzsbh,jdbcType=VARCHAR,javaType=String},
#{Zdjzshs,jdbcType=INTEGER,javaType=Integer},
#{Dabh,jdbcType=VARCHAR,javaType=String},
#{Xzqh,jdbcType=VARCHAR,javaType=String},
#{Zt,jdbcType=VARCHAR,javaType=String},
#{Zdyzt,jdbcType=VARCHAR,javaType=String},
#{Dybj,jdbcType=CHAR,javaType=String},
#{Jbr,jdbcType=VARCHAR,javaType=String},
#{Clly,jdbcType=CHAR,javaType=String},
#{Lsh,jdbcType=CHAR,javaType=String},
#{Fdjxh,jdbcType=VARCHAR,javaType=String},
#{Rlzl,jdbcType=VARCHAR,javaType=String},
#{Pl,jdbcType=INTEGER,javaType=Integer},
#{Gl,jdbcType=INTEGER,javaType=Integer},
#{Zxxs,jdbcType=CHAR,javaType=String},
#{Cwkc,jdbcType=INTEGER,javaType=Integer},
#{Cwkk,jdbcType=INTEGER,javaType=Integer},
#{Cwkg,jdbcType=INTEGER,javaType=Integer},
#{Hxnbcd,jdbcType=INTEGER,javaType=Integer},
#{Hxnbkd,jdbcType=INTEGER,javaType=Integer},
#{Hxnbgd,jdbcType=INTEGER,javaType=Integer},
#{Gbthps,jdbcType=INTEGER,javaType=Integer},
#{Zs,jdbcType=INTEGER,javaType=Integer},
#{Zj,jdbcType=INTEGER,javaType=Integer},
#{Qlj,jdbcType=INTEGER,javaType=Integer},
#{Hlj,jdbcType=INTEGER,javaType=Integer},
#{Ltgg,jdbcType=VARCHAR,javaType=String},
#{Lts,jdbcType=INTEGER,javaType=Integer},
#{Zzl,jdbcType=INTEGER,javaType=Integer},
#{Zbzl,jdbcType=INTEGER,javaType=Integer},
#{Hdzzl,jdbcType=INTEGER,javaType=Integer},
#{Hdzk,jdbcType=INTEGER,javaType=Integer},
#{Zqyzl,jdbcType=INTEGER,javaType=Integer},
#{Qpzk,jdbcType=INTEGER,javaType=Integer},
#{Hpzk,jdbcType=INTEGER,javaType=Integer},
#{Hbdbqk,jdbcType=VARCHAR,javaType=String},
#{Ccrq,jdbcType=DATE,javaType=Date},
#{Hdfs,jdbcType=CHAR,javaType=String},
#{Llpz1,jdbcType=CHAR,javaType=String},
#{Pzbh1,jdbcType=VARCHAR,javaType=String},
#{Llpz2,jdbcType=CHAR,javaType=String},
#{Pzbh2,jdbcType=VARCHAR,javaType=String},
#{Xsdw,jdbcType=VARCHAR,javaType=String},
#{Xsjg,jdbcType=INTEGER,javaType=Integer},
#{Xsrq,jdbcType=DATE,javaType=Date},
#{Jkpz,jdbcType=CHAR,javaType=String},
#{Jkpzhm,jdbcType=VARCHAR,javaType=String},
#{Hgzbh,jdbcType=VARCHAR,javaType=String},
#{Nszm,jdbcType=CHAR,javaType=String},
#{Nszmbh,jdbcType=VARCHAR,javaType=String},
#{Gxrq,jdbcType=DATE,javaType=Date},
#{Xgzl,jdbcType=VARCHAR,javaType=String},
#{Qmbh,jdbcType=VARCHAR,javaType=String},
#{Hmbh,jdbcType=VARCHAR,javaType=String},
#{Bz,jdbcType=VARCHAR,javaType=String},
#{Jyw,jdbcType=VARCHAR,javaType=String},
#{Yxh,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="updateCols">
<if test="pk neq null">XH=#{pk},</if>
HPZL=#{model.Hpzl,jdbcType=VARCHAR,javaType=String},
HPHM=#{model.Hphm,jdbcType=VARCHAR,javaType=String},
CLPP1=#{model.Clpp1,jdbcType=VARCHAR,javaType=String},
CLXH=#{model.Clxh,jdbcType=VARCHAR,javaType=String},
CLPP2=#{model.Clpp2,jdbcType=VARCHAR,javaType=String},
GCJK=#{model.Gcjk,jdbcType=CHAR,javaType=String},
ZZG=#{model.Zzg,jdbcType=CHAR,javaType=String},
ZZCMC=#{model.Zzcmc,jdbcType=VARCHAR,javaType=String},
CLSBDH=#{model.Clsbdh,jdbcType=VARCHAR,javaType=String},
FDJH=#{model.Fdjh,jdbcType=VARCHAR,javaType=String},
CLLX=#{model.Cllx,jdbcType=CHAR,javaType=String},
CSYS=#{model.Csys,jdbcType=VARCHAR,javaType=String},
SYXZ=#{model.Syxz,jdbcType=CHAR,javaType=String},
SFZMHM=#{model.Sfzmhm,jdbcType=VARCHAR,javaType=String},
SFZMMC=#{model.Sfzmmc,jdbcType=CHAR,javaType=String},
SYR=#{model.Syr,jdbcType=VARCHAR,javaType=String},
ZSXZQH=#{model.Zsxzqh,jdbcType=VARCHAR,javaType=String},
ZSXXDZ=#{model.Zsxxdz,jdbcType=VARCHAR,javaType=String},
YZBM1=#{model.Yzbm1,jdbcType=CHAR,javaType=String},
LXDH=#{model.Lxdh,jdbcType=VARCHAR,javaType=String},
ZZZ=#{model.Zzz,jdbcType=VARCHAR,javaType=String},
ZZXZQH=#{model.Zzxzqh,jdbcType=VARCHAR,javaType=String},
ZZXXDZ=#{model.Zzxxdz,jdbcType=VARCHAR,javaType=String},
YZBM2=#{model.Yzbm2,jdbcType=CHAR,javaType=String},
SYQ=#{model.Syq,jdbcType=CHAR,javaType=String},
CCDJRQ=#{model.Ccdjrq,jdbcType=DATE,javaType=Date},
DJRQ=#{model.Djrq,jdbcType=DATE,javaType=Date},
YXQZ=#{model.Yxqz,jdbcType=DATE,javaType=Date},
QZBFQZ=#{model.Qzbfqz,jdbcType=DATE,javaType=Date},
FZJG=#{model.Fzjg,jdbcType=VARCHAR,javaType=String},
GLBM=#{model.Glbm,jdbcType=VARCHAR,javaType=String},
FPRQ=#{model.Fprq,jdbcType=DATE,javaType=Date},
FZRQ=#{model.Fzrq,jdbcType=DATE,javaType=Date},
FDJRQ=#{model.Fdjrq,jdbcType=DATE,javaType=Date},
FHGZRQ=#{model.Fhgzrq,jdbcType=DATE,javaType=Date},
BXZZRQ=#{model.Bxzzrq,jdbcType=DATE,javaType=Date},
BPCS=#{model.Bpcs,jdbcType=INTEGER,javaType=Integer},
BZCS=#{model.Bzcs,jdbcType=INTEGER,javaType=Integer},
BDJCS=#{model.Bdjcs,jdbcType=INTEGER,javaType=Integer},
DJZSBH=#{model.Djzsbh,jdbcType=VARCHAR,javaType=String},
ZDJZSHS=#{model.Zdjzshs,jdbcType=INTEGER,javaType=Integer},
DABH=#{model.Dabh,jdbcType=VARCHAR,javaType=String},
XZQH=#{model.Xzqh,jdbcType=VARCHAR,javaType=String},
ZT=#{model.Zt,jdbcType=VARCHAR,javaType=String},
ZDYZT=#{model.Zdyzt,jdbcType=VARCHAR,javaType=String},
DYBJ=#{model.Dybj,jdbcType=CHAR,javaType=String},
JBR=#{model.Jbr,jdbcType=VARCHAR,javaType=String},
CLLY=#{model.Clly,jdbcType=CHAR,javaType=String},
LSH=#{model.Lsh,jdbcType=CHAR,javaType=String},
FDJXH=#{model.Fdjxh,jdbcType=VARCHAR,javaType=String},
RLZL=#{model.Rlzl,jdbcType=VARCHAR,javaType=String},
PL=#{model.Pl,jdbcType=INTEGER,javaType=Integer},
GL=#{model.Gl,jdbcType=INTEGER,javaType=Integer},
ZXXS=#{model.Zxxs,jdbcType=CHAR,javaType=String},
CWKC=#{model.Cwkc,jdbcType=INTEGER,javaType=Integer},
CWKK=#{model.Cwkk,jdbcType=INTEGER,javaType=Integer},
CWKG=#{model.Cwkg,jdbcType=INTEGER,javaType=Integer},
HXNBCD=#{model.Hxnbcd,jdbcType=INTEGER,javaType=Integer},
HXNBKD=#{model.Hxnbkd,jdbcType=INTEGER,javaType=Integer},
HXNBGD=#{model.Hxnbgd,jdbcType=INTEGER,javaType=Integer},
GBTHPS=#{model.Gbthps,jdbcType=INTEGER,javaType=Integer},
ZS=#{model.Zs,jdbcType=INTEGER,javaType=Integer},
ZJ=#{model.Zj,jdbcType=INTEGER,javaType=Integer},
QLJ=#{model.Qlj,jdbcType=INTEGER,javaType=Integer},
HLJ=#{model.Hlj,jdbcType=INTEGER,javaType=Integer},
LTGG=#{model.Ltgg,jdbcType=VARCHAR,javaType=String},
LTS=#{model.Lts,jdbcType=INTEGER,javaType=Integer},
ZZL=#{model.Zzl,jdbcType=INTEGER,javaType=Integer},
ZBZL=#{model.Zbzl,jdbcType=INTEGER,javaType=Integer},
HDZZL=#{model.Hdzzl,jdbcType=INTEGER,javaType=Integer},
HDZK=#{model.Hdzk,jdbcType=INTEGER,javaType=Integer},
ZQYZL=#{model.Zqyzl,jdbcType=INTEGER,javaType=Integer},
QPZK=#{model.Qpzk,jdbcType=INTEGER,javaType=Integer},
HPZK=#{model.Hpzk,jdbcType=INTEGER,javaType=Integer},
HBDBQK=#{model.Hbdbqk,jdbcType=VARCHAR,javaType=String},
CCRQ=#{model.Ccrq,jdbcType=DATE,javaType=Date},
HDFS=#{model.Hdfs,jdbcType=CHAR,javaType=String},
LLPZ1=#{model.Llpz1,jdbcType=CHAR,javaType=String},
PZBH1=#{model.Pzbh1,jdbcType=VARCHAR,javaType=String},
LLPZ2=#{model.Llpz2,jdbcType=CHAR,javaType=String},
PZBH2=#{model.Pzbh2,jdbcType=VARCHAR,javaType=String},
XSDW=#{model.Xsdw,jdbcType=VARCHAR,javaType=String},
XSJG=#{model.Xsjg,jdbcType=INTEGER,javaType=Integer},
XSRQ=#{model.Xsrq,jdbcType=DATE,javaType=Date},
JKPZ=#{model.Jkpz,jdbcType=CHAR,javaType=String},
JKPZHM=#{model.Jkpzhm,jdbcType=VARCHAR,javaType=String},
HGZBH=#{model.Hgzbh,jdbcType=VARCHAR,javaType=String},
NSZM=#{model.Nszm,jdbcType=CHAR,javaType=String},
NSZMBH=#{model.Nszmbh,jdbcType=VARCHAR,javaType=String},
GXRQ=#{model.Gxrq,jdbcType=DATE,javaType=Date},
XGZL=#{model.Xgzl,jdbcType=VARCHAR,javaType=String},
QMBH=#{model.Qmbh,jdbcType=VARCHAR,javaType=String},
HMBH=#{model.Hmbh,jdbcType=VARCHAR,javaType=String},
BZ=#{model.Bz,jdbcType=VARCHAR,javaType=String},
JYW=#{model.Jyw,jdbcType=VARCHAR,javaType=String},
YXH=#{model.Yxh,jdbcType=VARCHAR,javaType=String},

</sql>

<sql id="orderby">order by m.XH desc </sql>

<sql id="joinColums"></sql>

<sql id="join"></sql><!-- 别名m已被主表使用  -->

<resultMap type="com.ett.drv.model.self.VehicleModel" id="resultMap">
 <id column="XH"  property="Xh" jdbcType="CHAR" javaType="String"/>
<result column="HPZL"  property="Hpzl" jdbcType="VARCHAR" javaType="String"/>
<result column="HPHM"  property="Hphm" jdbcType="VARCHAR" javaType="String"/>
<result column="CLPP1"  property="Clpp1" jdbcType="VARCHAR" javaType="String"/>
<result column="CLXH"  property="Clxh" jdbcType="VARCHAR" javaType="String"/>
<result column="CLPP2"  property="Clpp2" jdbcType="VARCHAR" javaType="String"/>
<result column="GCJK"  property="Gcjk" jdbcType="CHAR" javaType="String"/>
<result column="ZZG"  property="Zzg" jdbcType="CHAR" javaType="String"/>
<result column="ZZCMC"  property="Zzcmc" jdbcType="VARCHAR" javaType="String"/>
<result column="CLSBDH"  property="Clsbdh" jdbcType="VARCHAR" javaType="String"/>
<result column="FDJH"  property="Fdjh" jdbcType="VARCHAR" javaType="String"/>
<result column="CLLX"  property="Cllx" jdbcType="CHAR" javaType="String"/>
<result column="CSYS"  property="Csys" jdbcType="VARCHAR" javaType="String"/>
<result column="SYXZ"  property="Syxz" jdbcType="CHAR" javaType="String"/>
<result column="SFZMHM"  property="Sfzmhm" jdbcType="VARCHAR" javaType="String"/>
<result column="SFZMMC"  property="Sfzmmc" jdbcType="CHAR" javaType="String"/>
<result column="SYR"  property="Syr" jdbcType="VARCHAR" javaType="String"/>
<result column="ZSXZQH"  property="Zsxzqh" jdbcType="VARCHAR" javaType="String"/>
<result column="ZSXXDZ"  property="Zsxxdz" jdbcType="VARCHAR" javaType="String"/>
<result column="YZBM1"  property="Yzbm1" jdbcType="CHAR" javaType="String"/>
<result column="LXDH"  property="Lxdh" jdbcType="VARCHAR" javaType="String"/>
<result column="ZZZ"  property="Zzz" jdbcType="VARCHAR" javaType="String"/>
<result column="ZZXZQH"  property="Zzxzqh" jdbcType="VARCHAR" javaType="String"/>
<result column="ZZXXDZ"  property="Zzxxdz" jdbcType="VARCHAR" javaType="String"/>
<result column="YZBM2"  property="Yzbm2" jdbcType="CHAR" javaType="String"/>
<result column="SYQ"  property="Syq" jdbcType="CHAR" javaType="String"/>
<result column="CCDJRQ"  property="Ccdjrq" jdbcType="DATE" javaType="Date"/>
<result column="DJRQ"  property="Djrq" jdbcType="DATE" javaType="Date"/>
<result column="YXQZ"  property="Yxqz" jdbcType="DATE" javaType="Date"/>
<result column="QZBFQZ"  property="Qzbfqz" jdbcType="DATE" javaType="Date"/>
<result column="FZJG"  property="Fzjg" jdbcType="VARCHAR" javaType="String"/>
<result column="GLBM"  property="Glbm" jdbcType="VARCHAR" javaType="String"/>
<result column="FPRQ"  property="Fprq" jdbcType="DATE" javaType="Date"/>
<result column="FZRQ"  property="Fzrq" jdbcType="DATE" javaType="Date"/>
<result column="FDJRQ"  property="Fdjrq" jdbcType="DATE" javaType="Date"/>
<result column="FHGZRQ"  property="Fhgzrq" jdbcType="DATE" javaType="Date"/>
<result column="BXZZRQ"  property="Bxzzrq" jdbcType="DATE" javaType="Date"/>
<result column="BPCS"  property="Bpcs" jdbcType="INTEGER" javaType="Integer"/>
<result column="BZCS"  property="Bzcs" jdbcType="INTEGER" javaType="Integer"/>
<result column="BDJCS"  property="Bdjcs" jdbcType="INTEGER" javaType="Integer"/>
<result column="DJZSBH"  property="Djzsbh" jdbcType="VARCHAR" javaType="String"/>
<result column="ZDJZSHS"  property="Zdjzshs" jdbcType="INTEGER" javaType="Integer"/>
<result column="DABH"  property="Dabh" jdbcType="VARCHAR" javaType="String"/>
<result column="XZQH"  property="Xzqh" jdbcType="VARCHAR" javaType="String"/>
<result column="ZT"  property="Zt" jdbcType="VARCHAR" javaType="String"/>
<result column="ZDYZT"  property="Zdyzt" jdbcType="VARCHAR" javaType="String"/>
<result column="DYBJ"  property="Dybj" jdbcType="CHAR" javaType="String"/>
<result column="JBR"  property="Jbr" jdbcType="VARCHAR" javaType="String"/>
<result column="CLLY"  property="Clly" jdbcType="CHAR" javaType="String"/>
<result column="LSH"  property="Lsh" jdbcType="CHAR" javaType="String"/>
<result column="FDJXH"  property="Fdjxh" jdbcType="VARCHAR" javaType="String"/>
<result column="RLZL"  property="Rlzl" jdbcType="VARCHAR" javaType="String"/>
<result column="PL"  property="Pl" jdbcType="INTEGER" javaType="Integer"/>
<result column="GL"  property="Gl" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZXXS"  property="Zxxs" jdbcType="CHAR" javaType="String"/>
<result column="CWKC"  property="Cwkc" jdbcType="INTEGER" javaType="Integer"/>
<result column="CWKK"  property="Cwkk" jdbcType="INTEGER" javaType="Integer"/>
<result column="CWKG"  property="Cwkg" jdbcType="INTEGER" javaType="Integer"/>
<result column="HXNBCD"  property="Hxnbcd" jdbcType="INTEGER" javaType="Integer"/>
<result column="HXNBKD"  property="Hxnbkd" jdbcType="INTEGER" javaType="Integer"/>
<result column="HXNBGD"  property="Hxnbgd" jdbcType="INTEGER" javaType="Integer"/>
<result column="GBTHPS"  property="Gbthps" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZS"  property="Zs" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZJ"  property="Zj" jdbcType="INTEGER" javaType="Integer"/>
<result column="QLJ"  property="Qlj" jdbcType="INTEGER" javaType="Integer"/>
<result column="HLJ"  property="Hlj" jdbcType="INTEGER" javaType="Integer"/>
<result column="LTGG"  property="Ltgg" jdbcType="VARCHAR" javaType="String"/>
<result column="LTS"  property="Lts" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZZL"  property="Zzl" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZBZL"  property="Zbzl" jdbcType="INTEGER" javaType="Integer"/>
<result column="HDZZL"  property="Hdzzl" jdbcType="INTEGER" javaType="Integer"/>
<result column="HDZK"  property="Hdzk" jdbcType="INTEGER" javaType="Integer"/>
<result column="ZQYZL"  property="Zqyzl" jdbcType="INTEGER" javaType="Integer"/>
<result column="QPZK"  property="Qpzk" jdbcType="INTEGER" javaType="Integer"/>
<result column="HPZK"  property="Hpzk" jdbcType="INTEGER" javaType="Integer"/>
<result column="HBDBQK"  property="Hbdbqk" jdbcType="VARCHAR" javaType="String"/>
<result column="CCRQ"  property="Ccrq" jdbcType="DATE" javaType="Date"/>
<result column="HDFS"  property="Hdfs" jdbcType="CHAR" javaType="String"/>
<result column="LLPZ1"  property="Llpz1" jdbcType="CHAR" javaType="String"/>
<result column="PZBH1"  property="Pzbh1" jdbcType="VARCHAR" javaType="String"/>
<result column="LLPZ2"  property="Llpz2" jdbcType="CHAR" javaType="String"/>
<result column="PZBH2"  property="Pzbh2" jdbcType="VARCHAR" javaType="String"/>
<result column="XSDW"  property="Xsdw" jdbcType="VARCHAR" javaType="String"/>
<result column="XSJG"  property="Xsjg" jdbcType="INTEGER" javaType="Integer"/>
<result column="XSRQ"  property="Xsrq" jdbcType="DATE" javaType="Date"/>
<result column="JKPZ"  property="Jkpz" jdbcType="CHAR" javaType="String"/>
<result column="JKPZHM"  property="Jkpzhm" jdbcType="VARCHAR" javaType="String"/>
<result column="HGZBH"  property="Hgzbh" jdbcType="VARCHAR" javaType="String"/>
<result column="NSZM"  property="Nszm" jdbcType="CHAR" javaType="String"/>
<result column="NSZMBH"  property="Nszmbh" jdbcType="VARCHAR" javaType="String"/>
<result column="GXRQ"  property="Gxrq" jdbcType="DATE" javaType="Date"/>
<result column="XGZL"  property="Xgzl" jdbcType="VARCHAR" javaType="String"/>
<result column="QMBH"  property="Qmbh" jdbcType="VARCHAR" javaType="String"/>
<result column="HMBH"  property="Hmbh" jdbcType="VARCHAR" javaType="String"/>
<result column="BZ"  property="Bz" jdbcType="VARCHAR" javaType="String"/>
<result column="JYW"  property="Jyw" jdbcType="VARCHAR" javaType="String"/>
<result column="YXH"  property="Yxh" jdbcType="VARCHAR" javaType="String"/>

 </resultMap>


<sql id="selectCondition">
<if test="model.Xh neq null">and m.XH like #{model.Xh,jdbcType=CHAR javaType=String } </if> 
<if test="model.Hpzl neq null">and m.HPZL like #{model.Hpzl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Hphm neq null">and m.HPHM like #{model.Hphm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Clpp1 neq null">and m.CLPP1 like #{model.Clpp1,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Clxh neq null">and m.CLXH like #{model.Clxh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Clpp2 neq null">and m.CLPP2 like #{model.Clpp2,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Gcjk neq null">and m.GCJK like #{model.Gcjk,jdbcType=CHAR javaType=String } </if> 
<if test="model.Zzg neq null">and m.ZZG like #{model.Zzg,jdbcType=CHAR javaType=String } </if> 
<if test="model.Zzcmc neq null">and m.ZZCMC like #{model.Zzcmc,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Clsbdh neq null">and m.CLSBDH like #{model.Clsbdh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Fdjh neq null">and m.FDJH like #{model.Fdjh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Cllx neq null">and m.CLLX like #{model.Cllx,jdbcType=CHAR javaType=String } </if> 
<if test="model.Csys neq null">and m.CSYS like #{model.Csys,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Syxz neq null">and m.SYXZ like #{model.Syxz,jdbcType=CHAR javaType=String } </if> 
<if test="model.Sfzmhm neq null">and m.SFZMHM like #{model.Sfzmhm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Sfzmmc neq null">and m.SFZMMC like #{model.Sfzmmc,jdbcType=CHAR javaType=String } </if> 
<if test="model.Syr neq null">and m.SYR like #{model.Syr,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zsxzqh neq null">and m.ZSXZQH like #{model.Zsxzqh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zsxxdz neq null">and m.ZSXXDZ like #{model.Zsxxdz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Yzbm1 neq null">and m.YZBM1 like #{model.Yzbm1,jdbcType=CHAR javaType=String } </if> 
<if test="model.Lxdh neq null">and m.LXDH like #{model.Lxdh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zzz neq null">and m.ZZZ like #{model.Zzz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zzxzqh neq null">and m.ZZXZQH like #{model.Zzxzqh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zzxxdz neq null">and m.ZZXXDZ like #{model.Zzxxdz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Yzbm2 neq null">and m.YZBM2 like #{model.Yzbm2,jdbcType=CHAR javaType=String } </if> 
<if test="model.Syq neq null">and m.SYQ like #{model.Syq,jdbcType=CHAR javaType=String } </if> 
<if test="model.Ccdjrq neq null">and to_char(m.CCDJRQ,'YYYY-MM-DD') = to_char(#{model.Ccdjrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Djrq neq null">and to_char(m.DJRQ,'YYYY-MM-DD') = to_char(#{model.Djrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Yxqz neq null">and to_char(m.YXQZ,'YYYY-MM-DD') = to_char(#{model.Yxqz,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Qzbfqz neq null">and to_char(m.QZBFQZ,'YYYY-MM-DD') = to_char(#{model.Qzbfqz,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Fzjg neq null">and m.FZJG like #{model.Fzjg,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Glbm neq null">and m.GLBM like #{model.Glbm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Fprq neq null">and to_char(m.FPRQ,'YYYY-MM-DD') = to_char(#{model.Fprq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Fzrq neq null">and to_char(m.FZRQ,'YYYY-MM-DD') = to_char(#{model.Fzrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Fdjrq neq null">and to_char(m.FDJRQ,'YYYY-MM-DD') = to_char(#{model.Fdjrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Fhgzrq neq null">and to_char(m.FHGZRQ,'YYYY-MM-DD') = to_char(#{model.Fhgzrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Bxzzrq neq null">and to_char(m.BXZZRQ,'YYYY-MM-DD') = to_char(#{model.Bxzzrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Bpcs neq null">and m.BPCS = #{model.Bpcs,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Bzcs neq null">and m.BZCS = #{model.Bzcs,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Bdjcs neq null">and m.BDJCS = #{model.Bdjcs,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Djzsbh neq null">and m.DJZSBH like #{model.Djzsbh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zdjzshs neq null">and m.ZDJZSHS = #{model.Zdjzshs,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Dabh neq null">and m.DABH like #{model.Dabh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Xzqh neq null">and m.XZQH like #{model.Xzqh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zt neq null">and m.ZT like #{model.Zt,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Zdyzt neq null">and m.ZDYZT like #{model.Zdyzt,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Dybj neq null">and m.DYBJ like #{model.Dybj,jdbcType=CHAR javaType=String } </if> 
<if test="model.Jbr neq null">and m.JBR like #{model.Jbr,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Clly neq null">and m.CLLY like #{model.Clly,jdbcType=CHAR javaType=String } </if> 
<if test="model.Lsh neq null">and m.LSH like #{model.Lsh,jdbcType=CHAR javaType=String } </if> 
<if test="model.Fdjxh neq null">and m.FDJXH like #{model.Fdjxh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Rlzl neq null">and m.RLZL like #{model.Rlzl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Pl neq null">and m.PL = #{model.Pl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Gl neq null">and m.GL = #{model.Gl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zxxs neq null">and m.ZXXS like #{model.Zxxs,jdbcType=CHAR javaType=String } </if> 
<if test="model.Cwkc neq null">and m.CWKC = #{model.Cwkc,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Cwkk neq null">and m.CWKK = #{model.Cwkk,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Cwkg neq null">and m.CWKG = #{model.Cwkg,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hxnbcd neq null">and m.HXNBCD = #{model.Hxnbcd,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hxnbkd neq null">and m.HXNBKD = #{model.Hxnbkd,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hxnbgd neq null">and m.HXNBGD = #{model.Hxnbgd,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Gbthps neq null">and m.GBTHPS = #{model.Gbthps,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zs neq null">and m.ZS = #{model.Zs,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zj neq null">and m.ZJ = #{model.Zj,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Qlj neq null">and m.QLJ = #{model.Qlj,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hlj neq null">and m.HLJ = #{model.Hlj,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Ltgg neq null">and m.LTGG like #{model.Ltgg,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Lts neq null">and m.LTS = #{model.Lts,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zzl neq null">and m.ZZL = #{model.Zzl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zbzl neq null">and m.ZBZL = #{model.Zbzl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hdzzl neq null">and m.HDZZL = #{model.Hdzzl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hdzk neq null">and m.HDZK = #{model.Hdzk,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Zqyzl neq null">and m.ZQYZL = #{model.Zqyzl,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Qpzk neq null">and m.QPZK = #{model.Qpzk,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hpzk neq null">and m.HPZK = #{model.Hpzk,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Hbdbqk neq null">and m.HBDBQK like #{model.Hbdbqk,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Ccrq neq null">and to_char(m.CCRQ,'YYYY-MM-DD') = to_char(#{model.Ccrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Hdfs neq null">and m.HDFS like #{model.Hdfs,jdbcType=CHAR javaType=String } </if> 
<if test="model.Llpz1 neq null">and m.LLPZ1 like #{model.Llpz1,jdbcType=CHAR javaType=String } </if> 
<if test="model.Pzbh1 neq null">and m.PZBH1 like #{model.Pzbh1,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Llpz2 neq null">and m.LLPZ2 like #{model.Llpz2,jdbcType=CHAR javaType=String } </if> 
<if test="model.Pzbh2 neq null">and m.PZBH2 like #{model.Pzbh2,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Xsdw neq null">and m.XSDW like #{model.Xsdw,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Xsjg neq null">and m.XSJG = #{model.Xsjg,jdbcType=INTEGER javaType=Integer } </if> 
<if test="model.Xsrq neq null">and to_char(m.XSRQ,'YYYY-MM-DD') = to_char(#{model.Xsrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Jkpz neq null">and m.JKPZ like #{model.Jkpz,jdbcType=CHAR javaType=String } </if> 
<if test="model.Jkpzhm neq null">and m.JKPZHM like #{model.Jkpzhm,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Hgzbh neq null">and m.HGZBH like #{model.Hgzbh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Nszm neq null">and m.NSZM like #{model.Nszm,jdbcType=CHAR javaType=String } </if> 
<if test="model.Nszmbh neq null">and m.NSZMBH like #{model.Nszmbh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Gxrq neq null">and to_char(m.GXRQ,'YYYY-MM-DD') = to_char(#{model.Gxrq,jdbcType=DATE javaType=Date },'YYYY-MM-DD') </if> 
<if test="model.Xgzl neq null">and m.XGZL like #{model.Xgzl,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Qmbh neq null">and m.QMBH like #{model.Qmbh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Hmbh neq null">and m.HMBH like #{model.Hmbh,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Bz neq null">and m.BZ like #{model.Bz,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Jyw neq null">and m.JYW like #{model.Jyw,jdbcType=VARCHAR javaType=String } </if> 
<if test="model.Yxh neq null">and m.YXH like #{model.Yxh,jdbcType=VARCHAR javaType=String } </if> 

</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select m.* from <include refid="table" /> m   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* from <include refid="table" /> m 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
   ) m <include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> = #{Xh,jdbcType=CHAR,javaType=String}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectNotInPk" resultType="ArrayList" resultMap="resultMap" >
	select m.* from <include refid="table" /> m  where m.<include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select m.* from  <include refid="table" /> m
	<include refid="orderby"/>
</select>

<select id="count" resultType="int">
	select count(*) from <include refid="table"/>
</select>

<insert id="insertOne" flushCache="true" >
	insert into <include refid="table"/> ( <include refid="colums"/> ) values  
	(
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="insertCols"/>
		</trim>
	)
</insert>

<update id="updateOne" flushCache="true" >
	update <include refid="table"/> set 
		<trim  prefixOverrides="," suffixOverrides=",">
			<include refid="updateCols"/>
		</trim>
	where <include refid="pk" />=#{model.Xh,jdbcType=CHAR,javaType=String}</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> =#{Xh,jdbcType=CHAR,javaType=String}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>

<delete id="deleteNotInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk" /> not in
		<foreach item="pk" collection="list" open="(" separator="," close=")">#{pk}</foreach>
</delete>



<resultMap type="com.ett.drv.model.self.VehicleModel" id="viewMap" extends="resultMap" ></resultMap>


<sql id="selectViewCondition">
	 <include refid="selectCondition"/>  
</sql><select id="selectView" resultType="ArrayList" resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="viewMap">
  select m.* from (
	<trim  prefixOverrides="union" suffixOverrides="union">
		<foreach collection="list" item="model">
			<if test="model neq null">
				union select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
	</trim>
  ) m <include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> = #{Xh,jdbcType=CHAR,javaType=String}
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select id="selectViewNotInPk" resultType="ArrayList" resultMap="viewMap" >
	select m.* <include refid="joinColums"/> from <include refid="table" /> m <include refid="join"/> where m.<include refid="pk" /> not in
	<foreach item="pk" collection="list" open="(" separator="," close=")"> #{pk} </foreach>
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="viewMap">
	select m.* <include refid="joinColums"/> from  <include refid="table" /> m <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>