<?xml version="1.0" encoding="UTF-8" ?>
<!--
	Create Date:2012-05-03 12:05:53
	MapperTemplate:com.smartken.toyz4j.mybatis.MySQLMapperTemplate
	Model:com.ett.visual.model.drv.DriverFileModel 


--> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ett.visual.mapper.drv.IDriverFileMapper">

<sql id="table">vis_drv_file</sql>

<sql id="pk">id</sql>

<sql id="columns">
main.DRV_ID,main.RES_ID,main.ID
</sql>
<sql id="queryCols">
		<choose>
			<when test="dynamic eq null or dynamic['colums'] eq null or dynamic['colums'].size lt 1 " >
				<include refid="columns"/>
			</when>
			<otherwise>
				<foreach collection="dynamic.colums" item="col" separator=","  >
					 main.${col.column} 
				</foreach>
			</otherwise>
		</choose>
</sql>


<sql id="orderby">
		<choose>
			<when test="dynamic eq null or  dynamic['orderbyBounds'] eq null or dynamic['orderbyBounds'].size lt 1 ">
				order by  <include refid="pk" /> DESC
			</when>
			<otherwise >
				<foreach collection="dynamic.orderbyBounds" item="ob" open=" order by " separator="," >
					 main.${ob.column} ${ob.order} 
				</foreach>
			</otherwise>
		</choose>
</sql>


<resultMap type="com.ett.visual.model.drv.DriverFileModel" id="resultMap">
 <id column="ID"  property="Id" jdbcType="INTEGER"  />
<result column="DRV_ID"  property="DrvId" jdbcType="VARCHAR"  />
<result column="RES_ID"  property="ResId" jdbcType="VARCHAR"  />

 </resultMap>


<sql id="selectCondition">
<if test=" 1 eq 1 and condition['DrvId'] neq null">and main.DRV_ID = #{condition.DrvId } </if> 
<if test=" 1 eq 1 and condition['eqDrvId'] neq null">and main.DRV_ID = #{condition.eqDrvId } </if> 
<if test=" 1 eq 1 and condition['neqDrvId'] neq null">and main.DRV_ID != #{condition.neqDrvId } </if> 
<if test=" 1 eq 1 and condition['isnullDrvId'] neq null and condition['isnullDrvId'] eq true">and main.DRV_ID is null  </if> 
<if test=" 1 eq 1 and condition['isnotnullDrvId'] neq null and condition['isnotnullDrvId'] eq true">and main.DRV_ID is not null </if> 
<if test=" 1 eq 1 and condition['isinDrvId'] neq null and  condition['isinDrvId'] neq null and condition['isinDrvId'].size>0">and main.DRV_ID in (<foreach collection="condition.isinDrvId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['isnotinDrvId'] neq null and  condition['isnotinDrvId'] neq null and condition['isnotinDrvId'].size>0">and main.DRV_ID not in (<foreach collection="condition.isnotinDrvId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['likeDrvId'] neq null">and main.DRV_ID like #{condition.likeDrvId} </if> 
<if test=" 1 eq 1 and condition['notlikeDrvId'] neq null">and main.DRV_ID not like #{condition.notlikeDrvId  } </if> 

<if test=" 1 eq 1 and condition['ResId'] neq null">and main.RES_ID = #{condition.ResId } </if> 
<if test=" 1 eq 1 and condition['eqResId'] neq null">and main.RES_ID = #{condition.eqResId } </if> 
<if test=" 1 eq 1 and condition['neqResId'] neq null">and main.RES_ID != #{condition.neqResId } </if> 
<if test=" 1 eq 1 and condition['isnullResId'] neq null and condition['isnullResId'] eq true">and main.RES_ID is null  </if> 
<if test=" 1 eq 1 and condition['isnotnullResId'] neq null and condition['isnotnullResId'] eq true">and main.RES_ID is not null </if> 
<if test=" 1 eq 1 and condition['isinResId'] neq null and  condition['isinResId'] neq null and condition['isinResId'].size>0">and main.RES_ID in (<foreach collection="condition.isinResId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['isnotinResId'] neq null and  condition['isnotinResId'] neq null and condition['isnotinResId'].size>0">and main.RES_ID not in (<foreach collection="condition.isnotinResId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['likeResId'] neq null">and main.RES_ID like #{condition.likeResId} </if> 
<if test=" 1 eq 1 and condition['notlikeResId'] neq null">and main.RES_ID not like #{condition.notlikeResId  } </if> 

<if test=" 1 eq 1 and condition['Id'] neq null">and main.ID = #{condition.Id } </if> 
<if test=" 1 eq 1 and condition['eqId'] neq null">and main.ID = #{condition.eqId } </if> 
<if test=" 1 eq 1 and condition['neqId'] neq null">and main.ID != #{condition.neqId } </if> 
<if test=" 1 eq 1 and condition['isnullId'] neq null and condition['isnullId'] eq true">and main.ID is null  </if> 
<if test=" 1 eq 1 and condition['isnotnullId'] neq null and condition['isnotnullId'] eq true">and main.ID is not null </if> 
<if test=" 1 eq 1 and condition['isinId'] neq null and  condition['isinId'] neq null and condition['isinId'].size>0">and main.ID in (<foreach collection="condition.isinId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['isnotinId'] neq null and  condition['isnotinId'] neq null and condition['isnotinId'].size>0">and main.ID not in (<foreach collection="condition.isnotinId" item="sub"  separator="," > #{sub } </foreach> )</if> 
<if test=" 1 eq 1 and condition['minId'] neq null">and main.ID &gt;= #{condition.minId } </if> 
<if test=" 1 eq 1 and condition['maxId'] neq null">and main.ID &lt;= #{condition.maxId} </if> 


</sql>


<select id="select" resultType="ArrayList" resultMap="resultMap">
	select <include refid="queryCols"/>  from <include refid="table"/>  main   
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
	<include refid="orderby"/>
</select>

<select id="selectUnion" resultType="ArrayList" resultMap="resultMap">
  select  main.* from (
		<foreach collection="conditions" item="condition" separator=" union " >
			<if test="condition neq null" >
				 select <include refid="queryCols"/> from <include refid="table"/>  main 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectCondition"/>
					</trim>
			</if>
		</foreach>
   ) main 
<include refid="orderby"/>
</select>

<select id="selectEqPk"  resultMap="resultMap">
	select <include refid="queryCols"/> from <include refid="table"/> main  where main.<include refid="pk"/> = #{pk}
</select>

<select id="selectInPk" resultType="ArrayList" resultMap="resultMap" >
	select <include refid="queryCols"/> from <include refid="table"/> main  where main.<include refid="pk"/> in (
		<foreach item="pk" collection="pks"  separator="," > #{pk} </foreach>
	)
	<include refid="orderby"/>
</select>

<select  id="selectAll"  resultType="ArrayList"  resultMap="resultMap">
	select <include refid="queryCols"/> from  <include refid="table"/> main  
	<include refid="orderby"/>
</select>

<select id="countAll" resultType="int">
	select count(main.<include refid="pk"/>) from <include refid="table"/> main 
</select>

<select id="count" resultType="int">
	select count(main.<include refid="pk"/>) from <include refid="table"/> main 
		<if test="condition neq null" >
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
		</if>
</select>

<select id="avg" resultType="int">
	select avg(main.${colunm}) from <include refid="table"/> main 
		<if test="condition neq null" >
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
		</if>
</select>

<select id="sum" resultType="int">
	select sum(main.${colunm}) from <include refid="table"/> main 
		<if test="condition neq null" >
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
		</if>
</select>

<select id="min" resultType="int">
	select min(main.${colunm}) from <include refid="table"/> main 
		<if test="condition neq null" >
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
		</if>
</select>

<select id="max" resultType="int">
	select max(main.${colunm}) from <include refid="table"/> main 
		<if test="model neq null" >
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectCondition"/>
		</trim>
		</if>
</select>

<insert id="insert" flushCache="true" >
	insert into <include refid="table"/>  ( DRV_ID,RES_ID,ID ) values  
	<foreach collection="models" separator="," item="model">	(
		<trim  prefixOverrides="," suffixOverrides=",">
			#{model.DrvId,jdbcType=VARCHAR},
#{model.ResId,jdbcType=VARCHAR},
seq_drv_file,

		</trim>
	)
	</foreach>
</insert>

<update id="update" flushCache="true" >
	update <include refid="table"/>  set 
		<trim  prefixOverrides="," suffixOverrides=",">
			DRV_ID=#{model.DrvId,jdbcType=VARCHAR},
RES_ID=#{model.ResId,jdbcType=VARCHAR},
<if test="pk neq null">id=#{pk},</if>

		</trim>
	where <include refid="pk"/>=#{model.Id,jdbcType=INTEGER}
</update>

<delete id="deleteEqPk" flushCache="true">
	delete from <include refid="table"/>  where <include refid="pk"/> =#{pk}
</delete>

<delete id="deleteInPk" flushCache="true">
	delete from <include refid="table"/> where <include refid="pk"/> in (
		<foreach item="pk" collection="pks"  separator="," >#{pk}</foreach> 
	)
</delete>

<select id="selectView" resultType="ArrayList" resultMap="resultView">
	select <include refid="columns"/>  <include refid="joinCols"/> from <include refid="table" /> main <include refid="join"/> 
		<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
			<include refid="selectViewCondition"/>
		</trim>	<include refid="orderby"/>
</select>

<select id="selectViewUnion" resultType="ArrayList" resultMap="resultView">
  select main.* from (
		<foreach collection="conditions" item="condition" separator=" union ">
			<if test="condition neq null" >
				 select <include refid="queryCols"/> <include refid="joinCols"/> from <include refid="table"/> main  <include refid="join"/> 
					<trim prefix="where 1=2 or (" suffix=")" prefixOverrides="and|or" suffixOverrides="and|or">
						<include refid="selectViewCondition"/>
					</trim>
			</if>
		</foreach>
  ) main 

<include refid="orderby"/>
</select>

<select id="selectViewEqPk"  resultMap="resultView">
	select <include refid="queryCols"/> <include refid="joinCols"/>  from <include refid="table"/> main <include refid="join"/> where main.<include refid="pk"/> = #{pk}
<include refid="orderby"/>
</select>

<select id="selectViewInPk" resultType="ArrayList" resultMap="resultView" >
	select <include refid="queryCols"/> <include refid="joinCols"/> from <include refid="table"/> main <include refid="join"/> where main.<include refid="pk"/> in (
		<foreach item="pk" collection="pks"  separator="," > #{pk} </foreach>
	)
	<include refid="orderby"/>
</select>

<select  id="selectViewAll"  resultType="ArrayList"  resultMap="resultView">
	select  <include refid="queryCols"/> <include refid="joinCols"/> from  <include refid="table"/> main <include refid="join"/>
	<include refid="orderby"/>
</select>

</mapper>