<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<import resource="applicationContext.xml"/>

<bean id="actionBookedBiz" parent="baseBookedBiz"></bean>
<bean id="actionAdminBiz" parent="baseAdminBiz"></bean>
<bean id="actionSelfBiz" parent="baseSelfBiz" ></bean>
<bean id="actionPreBiz" parent="basePreBiz"></bean>
<bean id="actionHospitalBiz" parent="baseHospitalBiz"></bean>
<bean id="actionStatisBiz" parent="baseStatisBiz"></bean>


<bean id="baseAction"  abstract="true"
   class="com.ett.drv.web.action.BaseDrvAction"  
>
   <property name="adminBiz" ref="actionAdminBiz"></property>
   <property name="selfBiz" ref="actionSelfBiz"></property>
   <property name="bookedBiz" ref="actionBookedBiz"></property>
   <property name="preBiz" ref="actionPreBiz"></property>
   <property name="hospitalBiz" ref="actionHospitalBiz"></property>
   <property name="statisBiz" ref="actionStatisBiz"></property>
</bean>

<bean class="com.ett.drv.web.action.booked.WeekPbAction"  parent="baseAction"
 id="com.ett.drv.web.action.booked.WeekPbAction"
>
</bean>

<bean class="com.ett.drv.web.action.booked.YuyueDayLimitAction"  parent="baseAction"
 id="com.ett.drv.web.action.booked.YuyueDayLimitAction"
>
</bean>

<bean class="com.ett.drv.web.action.preinput.ListAction" parent="baseAction"
id="com.ett.drv.web.action.preinput.ListAction">
</bean>

<bean class="com.ett.drv.web.action.preinput.CheckAction" parent="baseAction"
id="com.ett.drv.web.action.preinput.CheckAction">
</bean>

<bean class="com.ett.drv.web.action.preinput.FeedbackAction" parent="baseAction"
id="com.ett.drv.web.action.preinput.FeedbackAction">
</bean>

<bean class="com.ett.drv.web.action.preinput.ExamAction" parent="baseAction"
id="com.ett.drv.web.action.preinput.ExamAction">
</bean>

<bean class="com.ett.drv.web.action.booked.InfoChangeAction"  parent="baseAction"
 id="com.ett.drv.web.action.booked.InfoChangeAction"
>
</bean>

<bean class="com.ett.drv.web.action.booked.SchoolCarAction"  parent="baseAction"
 id="com.ett.drv.web.action.booked.SchoolCarAction"
>
</bean>

<bean class="com.ett.drv.web.action.booked.ExamPreasignAction"  parent="baseAction"
 id="com.ett.drv.web.action.booked.ExamPreasignAction"
>
</bean>
<bean class="com.ett.drv.web.action.admin.DepartmentAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.DepartmentAction"
>
</bean>
<bean class="com.ett.drv.web.action.admin.MenuAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.MenuAction"
>
</bean>
<bean class="com.ett.drv.web.action.admin.DicttypeAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.DicttypeAction"
>
</bean>
<bean class="com.ett.drv.web.action.admin.RoleAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.RoleAction"
>
</bean>

<bean class="com.ett.drv.web.action.admin.UserAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.UserAction"
>
</bean>

<bean class="com.ett.drv.web.action.admin.DictAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.DictAction"
>
</bean>

<bean class="com.ett.drv.web.action.admin.BuslogAction" parent="baseAction"
 id="com.ett.drv.web.action.admin.BuslogAction"
>
</bean>

<bean class="com.ett.drv.web.action.self.SysAction"
  id="com.ett.drv.web.action.self.SysAction"
>
  <property name="selfBiz" ref="actionSelfBiz"></property>
</bean>




<bean class="com.ett.drv.web.action.self.PaymentAction"
  id="com.ett.drv.web.action.self.PaymentAction"
>
  <property name="selfBiz" ref="actionSelfBiz"></property>
</bean>


<bean class="com.ett.drv.web.action.self.IdentityAction"
  id="com.ett.drv.web.action.self.IdentityAction"
>
  <property name="selfBiz" ref="actionSelfBiz"></property>
</bean>


<bean class="com.ett.drv.web.action.self.VehicleAction" 
  id="com.ett.drv.web.action.self.VehicleAction"
>
</bean>


<bean class="com.ett.drv.web.action.admin.SelfTransactDrvAction"   parent="baseAction"
  id="com.ett.drv.web.action.admin.SelfTransactDrvAction"
>
</bean>


<bean class="com.ett.drv.web.action.admin.SelfTransactVehAction"   parent="baseAction"
  id="com.ett.drv.web.action.admin.SelfTransactVehAction"
>
</bean>

<bean class="com.ett.drv.web.action.admin.SelfTransactKm1Action"   parent="baseAction"
  id="com.ett.drv.web.action.admin.SelfTransactKm1Action"
>
</bean>

<bean class="com.ett.drv.web.action.admin.SelfTransactFeeAction"   parent="baseAction"
  id="com.ett.drv.web.action.admin.SelfTransactFeeAction"
>
</bean>

<bean class="com.ett.drv.web.action.admin.SelfDeviceAction"   parent="baseAction"
  id="com.ett.drv.web.action.admin.SelfDeviceAction"
>
</bean>


<bean id="com.ett.drv.web.action.common.DatagridAction"  parent="baseAction"
 class="com.ett.drv.web.action.common.DatagridAction"
>
</bean>
<bean id="com.ett.drv.web.action.physical.HospitalMessageAction"  parent="baseAction"
 class="com.ett.drv.web.action.physical.HospitalMessageAction"
>
</bean>

<bean  id="com.ett.drv.web.action.statis.CoachCarAction"  parent="baseAction"
  class="com.ett.drv.web.action.statis.CoachCarAction"
></bean>

<bean  id="com.ett.drv.web.action.statis.SchoolAction"  parent="baseAction"
  class="com.ett.drv.web.action.statis.SchoolAction"
></bean>

<bean  id="com.ett.drv.web.action.statis.DriverAction"  parent="baseAction"
  class="com.ett.drv.web.action.statis.DriverAction"
></bean>

<bean  id="com.ett.drv.web.action.statis.KmAction"  parent="baseAction"
  class="com.ett.drv.web.action.statis.KmAction"
></bean>


</beans>
