<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	
	<appender name="debugAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" 
			value="E:/project/myeclipse/lineup/log/debug/debug.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<appender name="CONSOLE_LOG"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p  %d %-15c{1} [%x]: %m%n" />
		</layout>
	</appender>
	
	
	<logger name="debug">
		<level value="debug" />
		<appender-ref ref="CONSOLE_LOG" />
	</logger>
	
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE_LOG" />
		<appender-ref ref="debugAppender" />
	</root>
</log4j:configuration>